{% extends 'base/_base-empty.html' %}
{% load i18n static %}
{% block title %}{% trans "Data Center Infrastructure Management (DCIM) Software Download" %}{% endblock %}
{% block meta %}
    <meta name="description"
          content="{% trans 'Download a free trial of comprehensive data center infrastructure management software (DCIM) with integrated IPAM and centralized password management by Device42.' %}"/>
{% endblock %}
{% block site_section_product %}active{% endblock %}
{% block head_scripts %}
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
{% endblock %}
{% block body_scripts %}
{% endblock %}
{% block body %}
    <section class="landing-form">

            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                    	<img class="logo" src="{% static 'img/branding/transparent-logo.png' %}">
                    	<h1>{% trans "IT as a Service" %}</h1>
                    	<h2>{% trans "How to Create the Next-Generation<br>Data Center Your Business Needs" %}</h2>
                    	<p>{% trans "<b><i>The next-generation data center will not only be simpler and more manageable, but will also more easily align with company's business needs.</i></b>" %}</p>
                    	<h3>{% trans "Learn how the next generation data center addresses these common problems, and more:" %}</h3>
                    	<div class="bullets">

		                    	<ul>
		                    		<li>{% trans "Siloed Teams" %}</li>
		                    		<li>{% trans "Complexity at every level" %}</li>
		                    		<li>{% trans "Opacity that creates risk" %}</li>
		                    	</ul>

		                    	<ul>
		                    		<li>{% trans "Inability to gauge impact" %}</li>
		                    		<li>{% trans "Labor intensive audits" %}</li>
		                    	</ul>

		                    	<ul>
		                    		<li>{% trans "Compliance Requests" %}</li>
		                    		<li>{% trans "Inability to respond to business needs" %}</li>
		                    	</ul>

	                    </div>
	                    <img class="workflow" src="{% static 'img/generic/workflow.png' %}">
                    </div>
                    <div class="col-md-6">
                    	<form role="form" id="downloadForm" action="." method="POST">
                    		<div class="form_head">
		                    	<h1>{% trans "<span><i>FREE</i></span> White Paper Download" %}</h1>
		                    	<h2>{% blocktrans %}Device42's "How to create the Next-<br>Generation Data Center. IT As A Service"{% endblocktrans %}</h2>
		                    </div>
		                    <div class="form_body">
		                    	<h2>{% trans "Learn how to harness the power of existing and new technology for maximum impact on your business." %}</h2>
		                    	<h3>{% trans "Please fill out the following form and we will show you how." %}</h3>
                          {% csrf_token %}
                          {% for field in form %}
                              <div class="form-group {% if field.errors %}has-errors{% endif %}">
                                  <label class="control-label col-md-4 font-roboto" style="font-weight:400;text-align:left;"
                                         for="id_{{ field.name }}">{{ field.label }}</label>
                                  {{ field }}
                                  {% if field.errors %}
                                      {% for error in field.errors %}
                                          <span class="text-danger text-strong">{{ error|escape }}</span>
                                      {% endfor %}
                                  {% endif %}
                                  {% if field.help_text %}
                                      <p class="help-block">{{ field.help_text|safe }}</p>
                                  {% endif %}
                              </div>
                          {% endfor %}
                          <input style="display:none" id="id_main" type="text" name="main" maxlength="64"/>
		                    </div>
		                    <div class="form_footer">
		                    	<div class="col-md-6">
		                    		<p>{% trans 'We respect your privacy and will not misuse or sell your personal information. Read our <a href="#">Privacy Policy' %}</a>
		                    	</div>
		                    	<div class="col-md-6">
		                    		<input class="btn btn-primary btn-block-xs" type="submit" value="{% trans 'SEND MY DOWNLOAD LINK' %}">
		                    	</div>
		                    </div>
                    	</form>
                    </div>
                </div>
            </div>

    </section>
{% endblock %}
