{% load i18n static %}
<h2>Device42’s Microsoft SCCM {% trans "Import Plugin" %}</h2>
<div class="row is-table-row">
    <div class="col-sm-12">
        <p>{% blocktrans %}Already have <span class="text-muted">Microsoft Systems Center Configuration Manager</span> (SCCM) set up and populated with an inventory of all or a majority of your systems?{% endblocktrans %}</p>
        <p class="text-strong text-italic">{% trans "Avoid running duplicate auto-discovery and take advantage of the D42-SCCM Integration to pull existing CIs and Data directly into Device42." %}</p>
    </div>
</div>

<div class="row image-right-7x5 is-table-row">
    <div class="col-sm-5">
        <a href="{% static 'img/branding/transparent-logo.png' %}"
           data-featherlight="image">
            <img src="{% static 'img/branding/transparent-logo.png' %}"
                 class="img-responsive center-block" alt="{% trans 'Microsoft SCCM Integration' %}">
        </a>
        <p></p>
        <a href="{% static 'img/customers/integrations/sccm.png' %}"
           data-featherlight="image">
            <img src="{% static 'img/customers/integrations/sccm.png' %}"
                 class="img-responsive center-block" alt="{% trans 'Microsoft SCCM Integration' %}">
        </a>
    </div>
    <div class="col-sm-7">
        <h3>{% trans "Leverage more value from existing data by visualizing your SCCM asset inventory in a better way:" %}</h3>
        <ul class="checklist">
            <li>{% trans "Associate purchase and contract info to your assets" %}</li>
            <li>{% trans "Visualize your devices in racks and hypervisors, tracking full logical to physical relationships." %}</li>
            <li>{% trans "Track network and power connectivity." %}</li>
            <li>{% trans "Manage SSL/TLS certificates, passwords and Operating system licenses." %}</li>
            <li>{% trans "Software licensing and compliance management with comprehensive reporting and alerting capabilities." %}</li>
            <li>{% trans "Get started in few minutes without making any changes to your SCCM implementation." %}</li>
        </ul>
    </div>
</div>

<div class="row image-left-6x6 is-table-row">
    <div class="col-sm-6">
        <a href="{% static 'img/sections/support/integrations/sccm/windows-sccm-plugin.png' %}"
           data-featherlight="image">
            <img src="{% static 'img/sections/support/integrations/sccm/windows-sccm-plugin.png' %}"
                 class="img-responsive center-block img-border" alt="{% trans 'Microsoft SCCM Integration' %}">
        </a>
    </div>
    <div class="col-sm-6">
        <h3>{% trans "Enjoy the many benefits of Device42" %}</h3>
        <p class="text-strong">{% trans "From IPAM to DCIM to its Comprehensive CMDB, experience value you can see" %}</p>
        <p>{% trans "Passwords to administer systems are at your fingertips with Device42’s secure, built in Password Manager. Locate running software, get counts, and track licenses for any software that requires it. Quickly locate spare parts, and track spare part inventory too." %}</p>
        <p>{% trans "Plan your new deployments with newfound ease by looking at which racks have free space, or use Device42’s “What-If Scenarios” and allow the software to locate a candidate rack with available space and power for you." %}</p>
    </div>
</div>

<div class="row image-right-6x6 is-table-row">
    <div class="col-sm-6">
        <h3>{% trans "View Your SCCM Data in Device42" %}</h3>
        <p class="text-strong">{% trans "All relevant device information is now available in Device42" %}</p>
        <p>{% trans "Getting data from SCCM is as easy as running any other discovery with Device42. Nothing to download and nothing new to learn. Simply open the .NET based standalone auto-discovery tool and you’re on your way." %}</p>
        <p>{% trans "Your SCCM data is quickly populated into Device42." %}</p>
    </div>
    <div class="col-sm-6">
        <a href="{% static 'img/sections/support/integrations/sccm/sccm-table-populated.png' %}"
           data-featherlight="image">
            <img src="{% static 'img/sections/support/integrations/sccm/sccm-table-populated.png' %}"
                 class="img-responsive center-block img-border" alt="{% trans 'Microsoft SCCM Integration' %}">
        </a>
    </div>
</div>

<div class="row image-left-6x6 is-table-row">
    <div class="col-sm-6">
        <a href="{% static 'img/sections/support/integrations/sccm/sccm-task-schedules.png' %}"
           data-featherlight="image">
            <img src="{% static 'img/sections/support/integrations/sccm/sccm-task-schedules.png' %}"
                 class="img-responsive center-block img-border" alt="{% trans 'Microsoft SCCM Integration' %}">
        </a>
    </div>
    <div class="col-sm-6">
        <h3>{% trans "Schedule Syncs to Capture New SCCM Data" %}</h3>
        <p class="text-strong">{% trans "Changes made in SCCM can be automatically replicated to Device42" %}</p>
        <p>{% trans "All it takes is a few clicks and any updates that are made in Microsoft System Center Configuration Manager can be automatically copied to Device42 at the interval of your choosing." %}</p>
        <p>{% trans "Daily or weekly, schedule SCCM Imports as often as you need them depending on the rate of change in your environment. When the right interval is configured, Device42 data will be always up-to-date with the latest changes in your SCCM environment." %}</p>
    </div>
</div>

<div class="row image-right-6x6 is-table-row">
    <div class="col-sm-6">
        <h3>{% trans "Extract more value from your SCCM data" %}</h3>
        <p>{% trans "Every detail of the asset lifecycle from purchase to retirement can be tracked with Device42. Associate the purchase order for a device with the actual device itself, which can be quickly and easily located down to the room and actual rack that it is mounted in." %}</p>
        <p>{% trans "Ensure license and security compliance for upcoming audits. Leverage Device42’s powerful reporting capabilities to get the answers you need, when you need them." %}</p>
    </div>
    <div class="col-sm-6">
        <a href="{% static 'img/sections/support/integrations/sccm/device42-man.png' %}"
           data-featherlight="image">
            <img src="{% static 'img/sections/support/integrations/sccm/device42-man.png' %}"
                 class="img-responsive center-block" alt="{% trans 'Microsoft SCCM Integration' %}">
        </a>
    </div>
</div>

<div class="row"><div class="col-md-12"><p></p></div></div>
<div class="row">
    <div class="col-md-12">{% blocktrans %}<span class="text-italic">The more data you give Device42, the more powerful it becomes</span> - <span class="text-strong">Import your existing SCCM data now.</span><br>
    <span>Looking to download the SCCM integration? Please reach out to <a href="mailto:support@device42.com">support@device42.com</a> for the link.</span>{% endblocktrans %}</div>
</div>
<div class="row"><div class="col-md-12"><p></p></div></div>
