{% extends 'base/_base.html' %}
{% load i18n static custom_tags %}
{% block title %}{% trans "ISO27001 Compliance" %}{% endblock %}
{% block meta %}
     <meta name="description"
          content="{% trans 'ISO27001 Compliance' %}">
{% endblock %}
{% block body %}
    <header class="row bg-primary head-home">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{% trans "ISO27001 Compliance" %}</h1>
                </div>
            </div>
        </div>
    </header>
    <div class="container tour-page">
        <div class="row is-table-row featurette">
            <div class="col-sm-8">
                <p>{% trans "A big part of ISO 27001 Compliance requires assigning risk owners to each and every IT Asset you own. Device42 makes tracking IT Asset owners easy! <br />Easily locate, accommodate, and assign owners to each and every IT asset you own. Device42 does the hard work for you, autodiscovering all of your hardware and software across your entire IT infrastructure!" %}</p>
                <ul class="square-style">
                    <li>{% trans "Agentless and agent-based Continuous Auto-discovery" %}</li>
                    <li>{% trans "Autodiscovery tools support physical, virtual, hybrid, and cloud-based infrastructures" %}</li>
                    <li>{% trans "Device42’s ISO 27001 compliance tools can track asset risk ownership on premise and in the cloud" %}</li>
                    <li>{% trans "Physical and Virtual based ISO 27001 compliance auditing, simple security and risk assessments, etc." %}</li>
                    <li>{% trans "Track and visualize relationships between your servers and other IT assets" %}</li>
                </ul>
            </div>
            <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0">
                 <a href="{% static 'img/landing/iso27001-view-device-other.png' %}"
                   data-featherlight="image">
                    <img src="{% static 'img/landing/iso27001-view-device-other.png' %}"
                         alt="{% trans 'View Other Device' %}" class="center-block img-responsive">
                </a>
            </div>
        </div>
        <div class="row is-table-row">
            <div class="col-sm-12">
                <h2>{% trans "Simplify ISO 27001 Compliance With Complete IT Inventory Management" %}</h2>
                <p>{% trans "Device42’s ISO 27001 compliance software produces an accurate inventory that is ALWAYS audit-ready" %}</p>
                <p>{% trans "Running down your ISO 27001 compliance checklist has never been easier! Device42 can: " %}</p>
                <ul class="square-style">
                    <li>{% trans "Discover hardware and software on any operating system: Windows, Linux, UNIX, Mac, or BSD" %}</li>
                    <li>{% trans "Run discovery with Device42’s ISO 27001 compliance tools on demand, or schedule discovery to run automatically so your inventory is always up-to-date" %}</li>
                    <li>{% trans "Multiple discovery protocols supported (e.g. WMI & WinRM, SSH, SNMP, Modbus, CDP, and many more)" %}</li>
                    <li>{% trans "Get ISO 27001 compliance details from your blade chassis" %}</li>
                    <li>{% trans "Utilize Device42’s powerful RESTful API to automate your ISO 27001 compliance efforts" %}</li>
                </ul>
            </div>
        </div>
      <br />
        <div class="row is-table-row">
            <div class="col-sm-3">
                <a href="{% static 'img/landing/digital-transformation/diagram.png' %}"
                   data-featherlight="image">
                    <img src="{% static 'img/landing/digital-transformation/diagram.png' %}"
                         alt="{% trans 'Digital Transformation Diagram' %}" class="img-responsive center-block">
                </a>
            </div>
            <div class="col-sm-9">
                 <h2>{% trans "Track Relationships and Map Dependencies Between Your Software, Services and IT Assets" %}</h2>
                 <p>{% trans "Device42’s ISO 27001 compliance software also provides the powerful ability to track and visualize operational dependencies, and can produce detailed software, service, and server impact charts that can:" %}</p>
                <ul class="square-style">
                    <li>{% trans "Display downward dependencies from Virtual Server Host or Blade Chassis to contained VM’s" %}</li>
                    <li>{% trans "Visualize all service connections between them" %}</li>
                    <li>{% trans "Display a clear map of your operations and its interdependencies" %}</li>
                    <li>{% trans "Highlight the trickle-down effect of a service interruption if a blade or service were to become unavailable" %}</li>
                </ul>
            </div>
        </div>

        {% include 'components/brands-you-trust.html' %}
    </div>
{% endblock %}
