{% load i18n static %}
<div {% if id %}id="{{ id }}" {% endif %}>
  <h2 class="featurette-heading xs-center text-right">{% trans "Automation with Device42’s Webhooks & RESTful API" %}</h2>
  <h4 class="prelist xs-center text-right">...{% trans "compatible with StackStorm, Zapier, and any other if-this-then-that tool!" %}</h4>
  <div class="row featurette image-{{ image|default:'right' }} {% if vcenter %}is-table-row{% endif %}">
      <div class="col-sm-6">
          <ul class="bullet-blue">
              <li>{% trans 'Trigger events with Webhooks from Device42 based on just about any happening in your infrastructure' %}</li>
              <li>{% trans 'Manipulate any CI within Device42 via its powerful, well documented RESTful API' %}</li>
              <li>{% trans 'Have a ticket automatically created in your ITSM system when a new piece of hardware is detected on your network' %}</li>
              <li>{% trans 'Get a list of all servers running a specific version of software, and automate the upgrade across your infrastructure' %}</li>
              <li>{% trans 'Automatically power on extra instances to react to high-load situations, or shut some down in times of low demand' %}</li>
              <li>{% trans 'Easily build custom integrations' %}</li>
              <li>{% trans 'Automate anything, from common tasks to complex workloads' %}</li>
              <li>{% trans 'Centrally manage multiple DNS providers from within Device42!' %}</li>
          </ul>
      </div>
      <div class="col-sm-6 padded">
          <div class="row integration-logos">
              <div class="col-xs-6">
                  <div class="sprite-stackstorm"></div>
              </div>
              <div class="col-xs-6">
                  <div class="sprite-awslambda"></div>
              </div>
              <div class="col-xs-12 padded">
                  <div class="sprite-zapier"></div>
              </div>
          </div>
      </div>
  </div>
</div>
