.landing_page_v2 {
	font-family: 'Roboto-Light';
	margin: 0 auto;
	width: 100%;
	background: #fff;
}

.landing_page_v2 b {
	font-family: 'Roboto-Bold';
}

.landing_page_v2 section {
	position: relative;
	overflow: hidden;
}

.landing_page_v2 .small {
    font-size: 12px !important;
    line-height: 12px !important;
}

.landing_page_v2 h4 {
	font-family: 'Roboto';
	text-transform: uppercase;
	font-size: 20px;
	line-height: 40px;
	padding-top: 80px;
	text-align: center;
	color: #02a3e9;
}

.landing_page_v2 h3 {
	font-family: 'Metafors';
	color: #2d4358;
	font-size: 50px;
	text-align: center;
	margin-top: 100px;
}

.landing_page_v2 h2 {
	font-family: 'Roboto-Light';
	padding: 45px 25px 0 0;
	font-size: 30px;
	font-weight: 100;
	text-align: center;
	color: #445463;
}

.landing_page_v2 h1 {
	font-family: 'Roboto-Light';
	text-align: center;
	font-size: 40px;
	font-weight: 100;
	line-height: 60px;
	color: #02a3e9;
}

.landing_page_v2 p {
	text-align: center;
	margin: 0 auto;
	padding-top: 30px;
	font-size: 18px;
	color: #445463;
}

.landing_page_v2 .left_right .img {
	float: right !important;
}

.landing_page_v2 .left_right .text {
	float: left !important;
}

.landing_page_v2 .col-middle {
  margin-top: 25%;
}

.landing_page_v2 .vertical-align {
  width: 100%;
  margin-top: 400px;
}

/* section 1 */

.section_1 .arrow_left {
	position: absolute;

	top: 125px;
	margin-left: -100px;

	width: 300px;
	height: 250px;
	background-image: url($base-image-path + "landing-v2/arrow-left.png");
	background-repeat: no-repeat;
	background-size: contain;

	-ms-transform: rotate(350deg); /* IE 9 */
    -webkit-transform: rotate(350deg); /* Chrome, Safari, Opera */
    transform: rotate(350deg);
}

.section_1 .arrow_right {
	position: absolute;

	top: 465px;
	margin-left: 930px;

	width: 300px;
	height: 250px;
	background-image: url($base-image-path + "landing-v2/arrow-right.png");
	background-repeat: no-repeat;
	background-size: contain;

	-ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Chrome, Safari, Opera */
    transform: rotate(20deg);
}

.section_1 .person {
	position: absolute;
	width: 300px;
	height: 300px;
	top: 500px;
	background-image: url($base-image-path + "landing-v2/person.png");
	background-repeat: no-repeat;
	background-size: contain;
}

.section_1 .logo > img {
	position: absolute;
	width: 200px;
	margin-top: 30px;
}

.section_1 h1 {
	padding-top: 180px;
}

.section_1 p {
	width: 800px;
}

.section_1 > .top {
	width: 100%;
	background-color: #edf6fd;
	background-image: url($base-image-path + "landing-v2/section1-top.png");
	background-repeat: no-repeat;
	background-position: center 100px;
}

.section_1 > .bottom {
	width: 100%;
	padding-bottom: 350px;
	background-color: #edf6fd;
	background-image: url($base-image-path + "landing-v2/section1-bottom.png");
	background-repeat: no-repeat;
	background-position: center 0px;
}

.section_1 > .bottom p {
	font-family: 'Metafors';
	font-size: 30px;
	color: #333366;
}

.section_1 > .bottom .scroll_down {
	margin: -30px auto;
	width: 100px;
	text-align: center;
	cursor: pointer;
	position: relative;
}

.section_1 > .bottom .scroll_down img {
	position: absolute;
	left: 0px;
}

/* section 2 */

.section_2 {
	margin-top: -180px;
	padding-bottom: 60px;
}

.section_2 ul {
	padding-top: 10%;
}

.section_2 ul li  {
	padding-top: 12px;
	position: relative;
    list-style-type: none;
}

.section_2 ul li:before {
    content: "";
    position: absolute;
    top: 15px;
    left: -16px;
    width: 20px;
    height: 20px;
    background-size: cover;
    background-image: url($base-image-path + "landing-v2/bullet.png");
}

/* section 3 */

.section_3 > .top {
	width: 100%;
	background-color: #edf6fd;
	background-image: url($base-image-path + "landing-v2/section3-top.png");
	background-repeat: no-repeat;
	background-position: center -470px;
}

.section_3 > .bottom {
	width: 100%;
	padding-bottom: 200px;
	background-color: #edf6fd;
	background-image: url($base-image-path + "landing-v2/section3-bottom.png");
	background-repeat: no-repeat;
	background-position: center 100px;
}

.section_3 h4 {
	margin-top: 60px;
}

.section_3 img {
	width: 60%;
	padding-top: 40px;
	display: block;
	margin: 0 auto;
}

.section_3 ul {
	padding-top: 25px;
}

.section_3 ul li  {
	padding-top: 15px;
	position: relative;
    list-style-type: none;
}

.section_3 ul li:before {
    content: "";
    position: absolute;
}

/* section 4 */

.section_4 {
	padding-bottom: 150px;
}

.section_4 h3.down{
	margin-bottom: -100px;
}

.section_4 img {
	width: 80%;
	padding-top: 40px;
	display: block;
	margin: 0 auto;
}

/* section 5 */

.section_5 h4 {
	color: #fff;
}

.section_5 h2 {
	color: #fff;
}

.section_5 img {
	width: 100%;
	padding-top: 40px;
	display: block;
	margin: 0 auto;
}

.section_5 p {
	color: #fff;
	line-height: 35px;
}

.section_5 .middle p {
	width: 100%;
	text-align: left;
}

.section_5 ul {
	padding-top: 25px;
}

.section_5 ul li  {
	padding-top: 15px;
	position: relative;
    list-style-type: none;
    color: #fff;
}

.section_5 ul li:before {
    content: "";
    position: absolute;
    top: 15px;
    left: -16px;
    width: 20px;
    height: 20px;
    background-size: cover;
    background-image: url($base-image-path + "landing-v2/bullet2.png");
}

.section_5 .up {
	margin-top: -75px;
}

.section_5 > .top {
	width: 100%;
	min-height: 593px;
	background-image: url($base-image-path + "landing-v2/section5-top.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding-top: 120px;
}
.section_5 > .middle {
	width: 100%;
	background-color: #3F9FE8;
}

.section_5 > .bottom {
	width: 100%;
	height: 270px;
	background-color: #f6f9fe;
	background-image: url($base-image-path + "landing-v2/section5-bottom.png");
	background-repeat: no-repeat;
	background-position: center;
}

/* section_6 */

.section_6 {
	background: #f6f9fe;
	position: relative;
}

.section_6 .arrow_left {
	position: absolute;

	top: 25px;
	margin-left: -100px;

	width: 300px;
	height: 250px;
	background-image: url($base-image-path + "landing-v2/arrow-left.png");
	background-repeat: no-repeat;
	background-size: contain;

	-ms-transform: rotate(330deg); /* IE 9 */
    -webkit-transform: rotate(330deg); /* Chrome, Safari, Opera */
    transform: rotate(330deg);
}

.section_6 .arrow_right {
	position: absolute;

	bottom: 90px;
	margin-left: 930px;

	width: 300px;
	height: 250px;
	background-image: url($base-image-path + "landing-v2/arrow-right.png");
	background-repeat: no-repeat;
	background-size: contain;

	-ms-transform: rotate(30deg); /* IE 9 */
    -webkit-transform: rotate(30deg); /* Chrome, Safari, Opera */
    transform: rotate(30deg);
}

.section_6 h4 {
	text-align: left;
}

.section_6 p {
	width: 100%;
	text-align: left;
}

.section_6 img {
	width: 100%;
	padding-top: 120px;
	display: block;
	margin: 0 auto;
}

/* section 7 */

.section_7 {
	background: #f6f9fe;
	padding-bottom: 150px;
}

.section_7 .try {
	width: 900px;
	margin: 0 auto;
	background: #fff;
	padding: 25px 0;


	border: 1px solid #dddddd;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.section_7 .try h1 {
	font-size: 50px;
	text-align: center;
	color: #03a3ed;
}

.section_7 .try p {
	width: 100%;
}

.section_7 .try span {
	display: block;
	padding: 0 40px 35px 40px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	color: #03a3ed;
}

.section_7 .try .partners span {
	padding: 10px 0 20px 0;
}

.section_7 .try form {
	width: 510px;
	margin: 0 auto;
}

/*
.section_7 .try input[type="text"] {
	height: 50px;
	width: 350px;
	background: #fafbfd;
	padding: 10px;


	border: 1px solid #dddddd;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.section_7 .try input[type="submit"] {
	height: 50px;
	width: 150px;
	background: #03a3ed;
	color: #fff;
	margin-left: -10px;

	border: none;
}
*/

.section_7 .try a {
	display: block;
	width: 120px;
	padding: 15px 25px;
	background: #03a3ed;
	color: #fff;
	margin: 0 auto;

	border: none;
}
.section_7 .partners {
	padding: 0 75px 75px 75px;
}

.section_7 .partners div {
	height: 50px;
  margin: 0 auto;
  display: block;
}

.section_7 .partners img {
    margin: auto;
    position: absolute;
    width: 75%;
    top: 0; bottom: 0; left: 0; right: 0;
}

.section_7 .social {
	display: block;
	width: 190px;
	margin: 30px auto;
}

.section_7 .social img {
	width: 50px;
	margin: 5px;
}

/* section 5-8 */

.section_8 .top, .section_8 > .bottom {
  background-color: #fff;
}

.section_8 .middle {
  margin-top: -200px;
}

.section_8 * {
  text-align: center !important;
}

/* media queries */

@media (max-width: 1350px) {
	.arrow_left {
		margin-left: 0px !important;
	}
	.arrow_right {
		margin-left: 850px !important;
	}
	.section_7 .partners img {
		width: 120px;
	}
}

@media (max-width: 1170px) {
  .arrow_left, .arrow_right, .person {
    display: none;
  }
  .section_1 > .top {
  	height: auto;
  }
  .section_7 .try {
  	width: 100%;
  }
  h2, h4, p {
  	width: 100% !important;
  	padding: 10px !important;
  }
  .landing_page_v2 .small {
    line-height: 42px !important;
  }
}

@media (max-width: 990px) {
  .section_1 .main_header {
  	padding-top: 120px;
  	line-height: 30px;
  	font-size: 25px;
  }
  .section_7 .partners img {
  	width: 75px;
  }
  .section_3 img, .section_4 img {
  	width: 100%;
  }
  .section_5 .up {
  	margin-top: 0;
  }
  .landing_page_v2 .vertical-align {
    margin-top: 0;
  }
}

@media (max-width: 600px) {
	.section_4 h3.down {
		margin-bottom: 0 !important;
	}
	.section_6 img {
		padding-top: 0;
	}
	.logo {
		position: absolute;
	}
	.logo img {
		display: block;
		position: relative !important;
		margin: 0 auto;
		width: 75% !important;
	}
	.section_7 .try form {
		width: 100%;
		padding: 10px;
	}
	.section_7 .try input[type="text"] {
		height: 50px;
		width: 100%;
		background: #fafbfd;
		padding: 10px;

		border-radius: 0px !important;
		-moz-border-radius: 0px !important;
		-webkit-border-radius: 0px !important;

		-webkit-border-top-left-radius: 10px !important;
		-webkit-border-top-right-radius: 10px !important;
		-moz-border-radius-topleft: 10px !important;
		-moz-border-radius-topright: 10px !important;
		border-top-left-radius: 10px !important;
		border-top-right-radius: 10px !important;
	}

	.section_7 .try input[type="submit"] {
		height: 50px;
		width: 100%;
		background: #03a3ed;
		color: #fff;
		margin-left: 0 !important;

		border: none;
	}
}
