{% extends 'base/_base-landing.html' %}
{% load i18n static custom_tags %}
{% block styles %}
    <style>
      p {
        font-size: 20px;
        font-family: "Roboto Condensed", sans-serif !important;
        font-weight: 300;
      }

      p.italic {
        font-style: italic;
      }

      .w-100 {
        width: 100%;
      }
      .m-b-20 {
        margin-bottom: 20px;
      }
      .m-t-20 {
        margin-top: 20px;
      }
      .m-t-40 {
        margin-top: 40px;
      }

      .sub-title {
        color: #445463;
        font-family: "Roboto Condensed", sans-serif !important;
      }

      .numeric-ul {
        list-style-type: decimal;
      }

      .numeric-ul li:before {
        content: '';
        width: 15px;
      }

      h4 {
        font-family: "Roboto Condensed", sans-serif !important;
      }

      h4 a {
        text-decoration: underline;
        color: #445463;
      }

      ul li{
        font-family: "Roboto Condensed", sans-serif !important;
        font-weight: 300;
      }

      .checkmark-style li:before {
        content: "\2714";
        margin-left: -24px;
        margin-right: 12px;
        position: relative;
        vertical-align: text-top;
        display: inline-block;
        font-weight: 100;
        font-size: 15px;
        color: #22a3df;
      }

      @media screen and (max-width: 767px) {
          .m-t-40.mobile-no {
            margin-top: 0px !important;
          }
      }
    </style>
{% endblock %}
{% block title %}{% trans "Microsoft License Management" %}{% endblock %}
{% block meta %}
    <meta name="description"
          content="{% trans 'Microsoft License Management' %}"/>
{% endblock %}

{% block landingHeadingText %}{% trans "Microsoft License Management" %}{% endblock %}

{% block landingfeature %}
    <section class="row">
        <div class="col-sm-8">
            <p class="lead">{% trans "Device42 provides comprehensive Microsoft license management capabilities including powerful, Microsoft license auto-discovery with fully configurable asset types. Easily accommodate any IT asset type within in your infrastructure." %}</p>
            <ul class="lead-small checkmark-style light-weight">
              <li>{% trans "Agentless and/or agent-based Continuous Auto-discovery" %}</li>
              <li>{% trans "Physical and Virtual based Microsoft license management" %}</li>
              <li>{% trans "Device42’s Microsoft license inventory tools manage servers on premise and in the cloud" %}</li>
              <li>{% trans "Track and visualize relationships between your Microsoft licensed servers and other IT assets" %}</li>
              <li>{% trans "Device42 scales from small to huge – No Microsoft license inventory too large" %}</li>
              <li>{% trans "Powerful, customizable Microsoft License Usage reports" %}</li>
            </ul>
        </div>
        <div class="col-sm-4">
            <a href="{% static 'img/sections/features/software-license/add-sw-license-model.png' %}"
               data-featherlight="image">
                <img src="{% static 'img/sections/features/software-license/add-sw-license-model.png' %}" class="img-responsive center-block" alt="{% trans 'Add Software License Model' %}">
            </a>
        </div>
    </section>
{% endblock %}

{% block maincontent %}

        <div class="is-table-row">
          <h3 class="sub-title">{% trans "Auto Discover Your Microsoft Licenses & Software Inventory" %}</h3>
          <p>{% trans "Device42’s Microsoft license management software produces an accurate Microsoft license inventory that is ALWAYS audit-ready<br>Populate your software inventory quickly and effortlessly with an extensive range of auto-discovery tools that support physical, virtual, hybrid, and cloud server  infrastructures." %}</p>
          <ul class="lead-small bullet-blue light-weight">
            <li>{% trans "Discover software on any operating system: Windows, Linux, UNIX, Mac, or BSD" %}</li>
            <li>{% trans "Run discovery with Device42’s Microsoft license tools on demand, or schedule discovery to run automatically so your inventory is always up-to-date" %}</li>
            <li>{% trans "Discover anything with Device42’s discovery tools: Multiple discovery protocols supported (e.g. WMI & WinRM, SSH, SNMP, Modbus, CDP, and many more)" %}</li>
            <li>{% trans "Get Microsoft license inventory from your blade chassis - Device42’s Microsoft license software includes native support for blades" %}</li>
            <li>{% trans "Utilize Device42’s powerful RESTful API to automate Microsoft license management" %}</li>
            <li>{% trans "Use Device42’s Microsoft license tool as is, or build on any of the included sample scripts for custom discoveries" %}</li>
          </ul>
        </div>

        <br>
        <div class="row is-table-row ">
            <div class="col-md-9">
              <h3 class="sub-title">{% trans "Microsoft License Management & Complete Software Inventory Management" %}</h3>
              <p>{% trans "Device42 locates your devices and the software running on them automatically, making it easy to document and inventory the software running across physical or virtual servers, blades, clusters, switches or any other device types." %}</p>
              <br>
              <p>{% trans "Software inventory management has never been easier. Device42 features easy to use, multi-edit data entry pages which allow you to add and modify software components from a single page." %}</p>
              <ul class="lead-small bullet-blue light-weight">
                <li>{% trans "View and manage all microsoft license and other software license counts and expiration dates" %}</li>
                <li>{% trans "Simply open a new tab to see all locations a specific software or Microsoft License exists" %}</li>
                <li>{% trans "Get inventory counts for a specific version, software component, or release number" %}</li>
                <li>{% trans "Detect prohibited software, and identify purchased vs. installed software" %}</li>
                <li>{% trans "Receive customizable notifications and alerts" %}</li>
              </ul>
            </div>
            <div class="col-md-3">
              <a href="{% static 'img/sections/features/itam/software-inventory.png' %}"
                 data-featherlight="image">
                  <img src="{% static 'img/sections/features/itam/software-inventory.png' %}" class="img-responsive center-block" alt="{% trans 'Software Inventory' %}">
              </a>
            </div>
        </div>

        <br>
        <div class="row is-table-row ">
            <div class="col-md-4">
                <a href="{% static 'img/landing/sql-migration/banner.png' %}"
                   data-featherlight="image">
                    <img src="{% static 'img/landing/sql-migration/banner.png' %}" class="img-responsive center-block" alt="{% trans 'Microsoft Licensing' %}">
                </a>
            </div>
            <div class="col-md-8">
              <h3 class="sub-title">{% trans "Track Relationships and Map Dependencies Between Your Microsoft Licensed Assets and Other IT Assets" %}</h3>
              <p>{% trans "Device42’s Microsoft license Management Software also provides the powerful ability to track and visualize operational dependencies. " %}</p>
              <br>
              <p>{% trans "Device42’s Microsoft license tool produces detailed software and server Impact Charts:" %}</p>
              <br>
              <ul class="lead-small bullet-blue light-weight">
                <li>{% trans "Display downward dependencies from Virtual Server Host or Blade Chassis to contained VM’s" %}</li>
                <li>{% trans "Visualize all service connections between them" %}</li>
                <li>{% trans "See a clear map of your operations and its interdependencies" %}</li>
                <li>{% trans "Custom discovery scheduling" %}</li>
                <li>{% trans "Quickly understand the trickle-down effect of a service interruption if a blade or service were to become unavailable" %}</li>
              </ul>
            </div>
        </div>
{% endblock %}
