{% extends "base/_base-landing.html" %}
{% load i18n static %}
{% block meta %}
    <meta name="description"
          content="{% trans 'Device42’s automated and agent-less application mapping makes server migrations easier, ensuring you know all of your dependencies and have all your configurations squared away ahead of time, uncovering the hidden issues before they cause unnecessary downtime.' %}"/>
{% endblock %}
{% block title %}{% trans "Microsoft Audit" %}{% endblock %}

{% block styles %}
<style>
    body{
    }
    .cta-free-trial {
        padding: 24px 0;
        text-transform: none !important;
        background-color: #ffc90e;
        color: #130dff !important;
    }
</style>
{% endblock %}

{% block landingHeadingText %}{% trans "Microsoft Audit" %}{% endblock %}
{% block landingfeature %}
    <section class="row flat-bottom landing-section">
        <div class="col-sm-9">
            <p class="lead">{% blocktrans %}﻿Device42 provides comprehensive Microsoft Audit capabilities including powerful Microsoft license auto-discovery with fully configurable asset types. Easily accommodate any IT asset type, hardware or software, within your infrastructure.{% endblocktrans %}</p>
            <ul class="checklist lead-small bullet-blue light-weight">
              <li>{% trans "Agentless and/or agent-based Continuous Auto-discovery" %}</li>
              <li>{% trans "Physical and Virtual based Microsoft auditing" %}</li>
              <li>{% trans "Device42’s Microsoft audit tools manage servers on premise and in the cloud" %}</li>
              <li>{% trans "Track and visualize relationships between your Microsoft servers and other IT assets" %}</li>
              <li>{% trans "Device42 scales from small to huge – No inventory is too large" %}</li>
              <li>{% trans "Powerful, customizable Microsoft License Usage reports" %}</li>
            </ul>
        </div>
        <div class="col-sm-3">
            <img src="{% static 'img/sections/solutions/add-software-licensing-model.png' %}"
                 alt="{% trans 'Add Software Licensing Model' %}" class="img-responsive img-restrict center-block">
        </div>
    </section>

{% endblock %}

{% block maincontent %}
    <section class="row is-table-row landing-section">
        <div class="col-sm-12">
            <h3 style="font-weight:400;" class="flat-bottom">{% trans "Auto Discover Your Microsoft Licenses & Software Inventory" %}</h3>
            <p>{% trans "Device42’s Microsoft Audit software produces an accurate Microsoft license inventory that is ALWAYS audit-ready Populate your software inventory quickly and effortlessly with an extensive range of auto-discovery tools that support physical, virtual, hybrid, and cloud server  infrastructures." %}</p>

            <ul class="lead-small bullet-blue light-weight">
                <li>{% trans "Discover software on any operating system: Windows, Linux, UNIX, Mac, or BSD" %}</li>
                <li>{% trans "Run discovery with Device42’s Microsoft audit tools on demand, or schedule discovery to run automatically so your inventory is always up-to-date" %}</li>
                <li>{% trans "Discover anything with Device42’s discovery tools: Multiple discovery protocols supported (e.g. WMI & WinRM, SSH, SNMP, Modbus, CDP, and many more)" %}</li>
                <li>{% trans "Get Microsoft audit details from your blade chassis - Device42’s Microsoft audit software includes native support for blades" %}</li>
                <li>{% trans "Utilize Device42’s powerful RESTful API to automate your Microsoft Audit efforts" %}</li>
                <li>{% trans "Use Device42’s Microsoft audit tool as is, or build on any of the included sample scripts for custom discoveries" %}</li>
            </ul>
        </div>
    </section>


    <section class="row is-table-row landing-section">
        <div class="col-sm-9">
          <h3 style="font-weight:400;" class="flat-bottom">{% trans "Microsoft Audit & Complete Software Inventory Management" %}</h3>
          <p>
              {% trans 'Device42 locates your devices and the software running on them automatically, making it easy to document and inventory the software running across physical or virtual servers, blades, clusters, switches or any other device types.' %}
          </p>
          <p>{% trans "Software inventory management has never been easier. Device42 features easy to use, multi-edit data entry pages which allow you to add and modify software components from a single page. " %}</p>
          <ul class="lead-small bullet-blue light-weight">
              <li>{% trans "View and manage all Microsoft licenses and other software license counts and expiration dates " %}</li>
              <li>{% trans "Simply open a new tab to see all locations a specific software or Microsoft license exists" %}</li>
              <li>{% trans "Get inventory counts for a specific version, software component, or release number" %}</li>
              <li>{% trans "Detect prohibited software, and identify purchased vs. installed software" %}</li>
              <li>{% trans "Receive customizable notifications and alerts" %}</li>
          </ul>
        </div>
        <div class="col-sm-3">
            <img src="{% static 'img/landing/server-inventory/selectsoftware.png' %}"
                     class="img-restrict center-block" alt="{% trans 'Select Software Component' %}">
        </div>
    </section>

    <section class="row is-table-row landing-section">
        <div class="col-sm-3">
            <img src="{% static 'img/landing/sql-migration/banner.png' %}"
                     class="img-restrict center-block" alt="{% trans 'Microsoft Asset Management' %}">
        </div>
        <div class="col-sm-9">
          <h3 style="font-weight:400;" class="flat-bottom">{% trans "Track Relationships and Map Dependencies Between Your Microsoft Licensed Assets and Other IT Assets" %}</h3>
          <p>
              {% trans 'Device42’s Microsoft Asset Management Software also provides the powerful ability to track and visualize operational dependencies. ' %}
          </p>
          <p>{% trans "Device42’s Microsoft audit tool produces detailed software and server impact charts:" %}</p>
          <ul class="lead-small bullet-blue light-weight">
              <li>{% trans "Display downward dependencies from Virtual Server Host or Blade Chassis to contained VM’s" %}</li>
              <li>{% trans "Visualize all service connections between them" %}</li>
              <li>{% trans "See a clear map of your operations and its interdependencies" %}</li>
              <li>{% trans "Quickly understand the trickle-down effect of a service interruption if a blade or service were to become unavailable" %}</li>
          </ul>
        </div>

    </section>

{% endblock %}
