{% extends "base/_base-landing-v3.html" %}
{% load i18n static %}
{% block meta %}
    <meta name="description"
          content="{% trans 'Device42’s automated and agent-less application mapping makes server migrations easier, ensuring you know all of your dependencies and have all your configurations squared away ahead of time, uncovering the hidden issues before they cause unnecessary downtime.' %}"/>
{% endblock %}
{% block title %}{% trans "Migrations and Consolidations" %}{% endblock %}


{% block styles %}
<style>
    .cta-free-trial {
        padding: 24px 0;
        text-transform: none !important;
        background-color: #ffc90e;
        color: #130dff !important;
    }
</style>
{% endblock %}

{% block landingHeadingText %}
    {% trans "Migrations and Consolidations" %}
{% endblock %}
{% block landingSubHeadingText %}
    <span class="h3">{% trans "(Data Center, Software, Servers)" %}</span>
{% endblock %}
{% block landingSubHeadText %}
    <em class="h3 flat-top flat-bottom">{% trans "Device42’s comprehensive CMDB and powerful ADM software helps make migrations easier, uncovering hidden issues before they can cause needless downtime" %}</em>
{% endblock %}

{% block key_benefits %}
    <section class="row landing-section">
        <div class="col-sm-7" style="vertical-align: top;">

            <h3 class="text-strong">{% trans "Key Benefits:" %}</h3>
            <div class="row">
                <ul>
                    <li>{% trans "Improve change management by knowing all dependencies of servers/applications" %}</li>
                    <li>{% trans "Bolster your IT automation and staff efficiency with a single source of truth" %}</li>
                    <li>{% trans "Prioritize and confidently retire or consolidate assets during your migrations" %}</li>
                    <li>{% trans "Enable faster, and easier troubleshooting of application performance issues" %}</li>
                    <li>{% trans "Provide valuable insight long after migrations" %}</li>
                    <li>{% trans "Facilitate fast recovery from a security event" %}</li>
                    <li>{% trans "Rely on Device42 to efficiently and successfully manage your migrations!" %}</li>
                </ul>
            </div>

            <div class="row vert-offset-top-2" style="width: 100%;">

                <div class="text-center" style="width: 30%; float: left; margin-left: 10%;">
                    <div style="max-width:50%; margin-left:auto; margin-right:auto; margin-top:24px; height:auto !important;" 
                         class="clearfix">
                        <div class="embed-responsive embed-responsive-16by9" style="margin-bottom: 5px;">
                            <div class="wistia_responsive_wrapper"
                                 style="height:100%; left:0; position:absolute; top:0; width:100%;">
                                <script src="//fast.wistia.com/embed/medias/igc5qfvoyr.jsonp" async></script>
                                <script src="//fast.wistia.com/assets/external/E-v1.js" async></script>
                                <div class="wistia_responsive_padding"
                                     style="padding:60% 0 0 0; position:relative;">
                                    <div class="wistia_responsive_wrapper"
                                         style="height:100%; left:0; position:absolute; top:0; width:100%;">
                                        <span class="wistia_embed wistia_async_igc5qfvoyr popover=true popoverAnimateThumbnail=true videoFoam=true" style="display:inline-block; height:100%; width:100%">&nbsp;</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="text-primary font-stack-roboto text-center h4" style="margin-top: 0px !important; margin-bottom: 0px !important;">{% trans "90 Second Overview" %}</span>
                </div>

                <div class="vert-offset-top-1" style="width: 55%; float: left; margin-left: 5%;">
                    <p>{% blocktrans %}<strong>You're in good company!</strong><br> Many global companies are using<br> Device42 SW to support their migration<br> offerings, <em>and they LOVE us!</em>{% endblocktrans %}</p>
                </div>

            </div>
        </div>
        <div class="col-sm-5">
            <a href="{% url 'download' %}">
                <img class="img-responsive center-block animated"
                     style="max-width: 80% !important; margin-bottom: 10px;"
                     src="{% static 'img/sections/features/app-map/set-it-all-in-one-place.jpg' %}"
                     alt="{% trans 'Server Migration' %}">
            </a>
            <p class="text-center">{% trans "Our virtual appliance, agentless auto-discovery, remote collectors, and universal import tools will make your migrations easy, simple, and secure!" %}</p>
            <a class="btn center-block cta-free-trial h3"
                href="{% url 'download' %}">{% trans "Get your FREE, fully-functional trial NOW!" %}</a>
        </div>
    </section>
{% endblock %}

{% block good_company %}
{% endblock %}

{% block key_features %}
    <section class="row image-right-5x7 is-table-row vert-offset-top-0 landing-section">
        <div class="col-sm-7">
            <h3 class="text-strong">{% trans "Key Features:" %}</h3>
            <ul>
                <li><strong>{% trans "Lean on Device42 before, during, and after your migration:" %}</strong>
                    <ul class="bullet-gray flat-top">
                        <li>{% trans "Determine the best migration path for each of your systems, new or legacy - move,consolidate, update, or retire" %}</li>
                        <li>{% trans "Quickly determine what needs to be migrated and who needs to be notified, and their contact information" %}</li>
                        <li>{% trans "Look up cloud instance credentials, and generate new, secure credentials for the migrated server instance" %}</li>
                    </ul>
                </li>
            </ul>
            <p class="vert-offset-bottom-2" style="display: block;">{% blocktrans %}When your cloud migration is nearing completion, launch <em>(and/or re-schedule!)</em> an auto-discovery. Device42’s self-documenting CMDB will automatically map out everything that’s changed, and you can then quickly verify that all changes appear as they should!{% endblocktrans %}</p>
            <ul>
                <li><strong>{% trans "Powerful, Agentless Device Discovery" %}</strong>
                    <ul class="bullet-gray flat-top">
                        <li>{% trans "Native WMI for Windows & SSH for *nix, BSD, and Mac" %}</li>
                        <li>{% trans "SNMP for network devices like routers, switches, and load balancers" %}</li>
                        <li>{% trans "Native Discovery for popular hypervisors and their guest VMs, cloud platforms, blades" %}</li>
                    </ul>
                </li>
                <li>{% blocktrans %}<strong>Application Dependency Mapping</strong> discovers (with or without agents) all your application dependencies{% endblocktrans %}</li>
                <li>{% blocktrans %}<strong>Optional remote collector</strong> - no complicated span ports necessary, ever!{% endblocktrans %}</li>
                <li>{% blocktrans %}Device42 <strong>automatically generates powerful visuals</strong>: dependency flow diagrams, charts, and list views that identify the relationships and interdependencies between devices, servers, applications, and application components{% endblocktrans %}</li>
                <li>{% trans "See the services that are listening, on what ports, and all open ports on each server" %}</li>
                <li>{% trans "Discover data on servers that can’t be accessed directly with netflow and NMAP" %}</li>
            </ul>
        </div>
        <div class="col-sm-5" style="vertical-align: top; padding-top: 40px;">
            <a href="{% url 'download' %}">
                <img class="featurette-image img-responsive center-block"
                     alt="{% trans 'Server Migration' %}"
                     src="{% static 'img/sections/features/cmdb/key-features.png' %}">
            </a>
        </div>
    </section>
{% endblock %}

{% block landingSubCTAtext %}
    {% trans "Making the switch is easy with migration utilities and imports" %}
{% endblock %}
