{% extends "base/_base-landing.html" %}
{% load i18n static %}
{% block meta %}
	<meta name="description" content="{% trans 'Device42 vs. SoftinventiveLab Total Network Inventory' %}"/>
{% endblock %}

{% block styles %}
    <style>
      p.lead {
        font-family: 'Roboto Condensed', sans-serif !important;
        text-align: center;
        font-size: 25px !important;
        margin: 0px !important;
      }
      h1 {
        font-family: "Roboto Condensed", sans-serif !important;
      }
      .center-read-label {
        text-align: center;
        font-size: 35px;
        font-weight: 500 !important;
        margin: 10px 0px;
        font-family: 'Roboto Condensed', sans-serif !important;
        color: #2e2f2f;
      }
      p.text-strong {
        color: #2e2f2f;
      }
      .landing-section p {
        font-size: 22px;
        font-family: 'Roboto Condensed', sans-serif !important;
      }
      .table-responsive {
        max-width: 800px;
        margin: auto;
      }
      .table-responsive table {
        margin-bottom : 0px
      }
      .feature-bottom-label {
        font-size: 15px !important;
        color: #22a3e2;
        font-weight: 500 !important;
      }
      .checkmark-style li:before {
          content: "\2714";
          margin-left: -24px;
          margin-right: 12px;
          position: relative;
          vertical-align: text-top;
          display: inline-block;
          font-weight: 100;
          font-size: 15px;
          color: #22a3df;
      }
      .sub-heading {
        color: #35ade4;
        font-family: 'Roboto Condensed', sans-serif !important;
        font-size: 35px;
      }
      p.lead span {
        font-size: 18px;font-style: italic;
      }
    </style>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
    $(function() {
       $("[data-toggle='tooltip']").tooltip();
    });
    </script>
{% endblock %}
{% block title %}{% trans "Device42 vs. SoftinventiveLab Total Network Inventory" %}{% endblock %}

{% block landingHeadingText %}{% trans "Device42 vs. SoftinventiveLab Total Network Inventory" %}{% endblock %}

{% block landingLeadText %}{% trans "Searching for Total Network Inventory alternatives, or for a CMDB that integrates with your ITSM system?" %}{% endblock %}

{% block landingfeature %}
<p class="center-read-label">{% trans "Device42 is the powerful CMDB solution you’ve been looking for." %}</p>
<hr>
<section class="landing-section">
  <p class="lead" style="text-align: left;">{% trans "While Total Network Inventory offers a framework that is mainly centered around basic IT asset inventory functionality." %}</p>
  <br>
  <p class="lead text-strong" style="text-align: left;">{% trans "Device42 offers a full-fledged CMDB product with ‘True’ Auto-Discovery <span>(discovery of complete, actionable data)</span>, comprehensive Network and IT asset management (ITAM) capabilities PLUS:" %}</p>
</section>
<section class="row landing-section">
  <div class="col-md-5">
    <ul class="checkmark-style">
      <li>{% trans "Powerful agentless auto-discovery" %}</li>
      <li>{% trans "Comprehensive Application Dependency Mapping" %}</li>
      <li>{% trans "A full CMDB with configurable asset types" %}</li>
      <li>{% trans "DCIM functionality" %}</li>
      <li>{% trans "Resource Utilization for capacity management and cloud right-sizing" %}</li>
      <li>{% trans "RESTful APIs and Webhooks" %}</li>
      <li>{% trans "Seamless integration with your ITSM suite" %}</li>
      <li>{% trans "A holistic approach to IT infrastructure: matching Device42’s single-product functionality can’t be done with any combination of Total Network Inventory products" %}</li>
    </ul>
  </div>
  <div class="col-md-7">
    <a href="{% static 'img/landing/solution_components.png' %}"
                   data-featherlight="image">
      <img src="{% static 'img/landing/solution_components.png' %}" class="img-responsive center-block" alt="{% trans 'Solution Components' %}">
    </a>
  </div>
</section>
{% endblock %}

{% block maincontent %}
<hr>
  <section class="row flat-top landing-section">
    <div class="col-sm-10 col-sm-offset-1">
        <p class="text-center text-strong" style="color: #22a3df;">{% trans "The table below highlights similarities and differences between Device42 and Total Network Inventory:" %}</p>
        <div class="table-responsive">
            <table class="table table-condensed table-hover d42-sw-compare">
            <thead>
              <tr>
                <th class="table-title"><p class="dark-blue text-left alt-text" style="margin:0;font-size:24px;">{% trans "Features" %}</p></th>
                <th>{% trans "Device42" %}</th>
                <th>{% trans "Total Network Inventory" %}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="comp-feature">{% trans "Discovery Included in Core product" %}</td>
                <td class="text-center"><i class="fa fa-2x fa-check"></i></td>
                <td class="text-center"><i class="fa fa-2x fa-check"></i></td>
              </tr>
              <tr>
                <td class="comp-feature">{% trans "CMDB" %}</td>
                <td class="text-center"><i class="fa fa-2x fa-check"></i></td>
                <td class="text-center"><i class="fa fa-2x fa-exclamation-triangle" data-toggle="tooltip" data-placement="top" title="Though functionally similar to a CMDB, TNI does not actually utilize a true database, instead storing data in flat files. This solution does not scale well, nor can it guarantee the 'ACID' (Atomicity, Consistency, Isolation, Durability) protection afforded by a database."></i></td>
              </tr>
              <tr>
                <td class="comp-feature">{% trans "ITAM" %}</td>
                <td class="text-center"><i class="fa fa-2x fa-check"></i></td>
                <td class="text-center"><i class="fa fa-2x fa-check"></i></td>
              </tr>
              <tr>
                <td class="comp-feature">{% trans "IPAM" %}</td>
                <td class="text-center"><i class="fa fa-2x fa-check"></i></td>
                <td class="text-center"><i class="fa fa-2x fa-times"></i></td>
              </tr>
              <tr>
                <td class="comp-feature">{% trans "DCIM" %}</td>
                <td class="text-center"><i class="fa fa-2x fa-check"></i></td>
                <td class="text-center"><i class="fa fa-2x fa-times"></i></td>
              </tr>
              <tr>
                <td class="comp-feature">{% trans "Free Trial Includes All Features" %}</td>
                <td class="text-center"><i class="fa fa-2x fa-check"></i></td>
                <td class="text-center"><i class="fa fa-2x fa-exclamation-triangle" data-toggle="tooltip" data-placement="top" title="The evaluation version of Total Network Inventory limits data exports, unlike Device42, which allows complete export of YOUR data at any time: 'The program only works for 60 days after its first launch on a computer. The maximum number of computers (network nodes) allowed to scan and manage is limited by 50 nodes. Reports created by the program can be exported and printed, but certain fields are randomly substituted with the phrase TRIAL VERSION.'"></i></td>
              </tr>
              <tr>
                <td class="comp-feature">{% trans "Password Management" %}</td>
                <td class="text-center"><i class="fa fa-2x fa-check"></i></td>
                <td class="text-center"><i class="fa fa-2x fa-times"></i></td>
              </tr>
              <tr>
                <td class="comp-feature">{% trans "Cloud and On-Premise Option" %}</td>
                <td class="text-center"><i class="fa fa-2x fa-check"></i></td>
                <td class="text-center"><i class="fa fa-2x fa-times"></i></td>
              </tr>
              <tr>
                <td class="comp-feature">{% trans "Agentless Discovery" %}</td>
                <td class="text-center"><i class="fa fa-2x fa-check"></i></td>
                <td class="text-center"><a href="http://docs.softinventive.com/tni/techpaper/scanning-unix-based-assets" data-toggle="tooltip" data-placement="top" title="Agents are required to scan OSX, Linux, FreeBSD, and ESX/ESXi">
                  <i class="fa fa-2x fa-exclamation-triangle"></i></a>
                </td>
              </tr>
              <tr>
                <td class="comp-feature">{% trans "Optional Agent-Based Discovery" %}</td>
                <td class="text-center"><i class="fa fa-2x fa-check"></i></td>
                <td class="text-center"><i class="fa fa-2x fa-times"></i></td>
              </tr>
              <tr>
                <td class="comp-feature">{% trans "Automatic Service/Application Discovery" %}</td>
                <td class="text-center"><i class="fa fa-2x fa-check"></i></td>
                <td class="text-center"><i class="fa fa-2x fa-times"></i></td>
              </tr>
              <tr>
                <td class="comp-feature">{% trans "Resource Utilization" %}</td>
                <td class="text-center"><i class="fa fa-2x fa-check"></i></td>
                <td class="text-center"><a href="https://www.softinventive.com/docs/TNM-docs.pdf" data-toggle="tooltip" data-placement="top" title="This is a function of 'Total Network Monitor' -- not TNI">
                  <i class="fa fa-2x fa-times"></i>
                </td>
              </tr>
              <tr>
                <td class="comp-feature">{% trans "Native Windows WMI & *nix (ssh) Discovery" %}</td>
                <td class="text-center"><i class="fa fa-2x fa-check"></i></td>
                <td class="text-center"><i class="fa fa-2x fa-check"></i></td>
              </tr>
              <tr>
                <td class="comp-feature">{% trans "SNMP Discovery" %}</td>
                <td class="text-center"><i class="fa fa-2x fa-check"></i></td>
                <td class="text-center">
                  <i class="fa fa-2x fa-check"></i></td>
              </tr>
              <tr>
                <td class="comp-feature">{% trans "Native Load Balancer Discovery" %}</td>
                <td class="text-center"><i class="fa fa-2x fa-check"></i></td>
                <td class="text-center"><i class="fa fa-2x fa-times"></i></td>
              </tr>
              <tr>
                <td class="comp-feature">{% trans "Native VMware Discovery" %}</td>
                <td class="text-center"><i class="fa fa-2x fa-check"></i></td>
                <td class="text-center"><a href="http://docs.softinventive.com/tni/techpaper/scanning-unix-based-assets" data-toggle="tooltip" data-placement="top" title="VMware scanning does not use VMware native interfaces, and is instead handled via a separate agent that utilizes SSH.">
                  <i class="fa fa-2x fa-exclamation-triangle"></i></a>
                </td>
              </tr>
              <tr>
                <td class="comp-feature">{% trans "Native Other Virtualization (Hyper-V, Xen, KVM, LXC)" %}</td>
                <td class="text-center"><i class="fa fa-2x fa-check"></i></td>
                <td class="text-center">
                  <i class="fa fa-2x fa-times"></i></td>
              </tr>
              <tr>
                <td class="comp-feature">{% trans "Native Cloud Discovery" %}</td>
                <td class="text-center"><i class="fa fa-2x fa-check"></i></td>
                <td class="text-center"><i class="fa fa-2x fa-times"></i></td>
              </tr>
              <tr>
                <td class="comp-feature">{% trans "Netflow Discovery" %}</td>
                <td class="text-center"><i class="fa fa-2x fa-check"></i></td>
                <td class="text-center"><i class="fa fa-2x fa-times"></i></td>
              </tr>
              <tr>
                <td class="comp-feature">{% trans "RESTful APIs" %}</td>
                <td class="text-center"><i class="fa fa-2x fa-check"></i></td>
                <td class="text-center"><i class="fa fa-2x fa-times"></i></td>
              </tr>
              <tr>
                <td class="comp-feature">{% trans "Webhooks to drive automation" %}</td>
                <td class="text-center"><i class="fa fa-2x fa-check"></i></td>
                <td class="text-center"><i class="fa fa-2x fa-times"></i></td>
              </tr>
            </tbody>
          </table>
        </div>
        <p class="feature-bottom-label">{% trans "*All feature data deduced from TNI Software’s website and available marketing materials. Please let us know if something isn’t right and we’ll gladly update it." %}</p>
    </div>
</section>

  <section class="row landing-section" style="padding-bottom: 0px;">
    <div class="col-md-12">
      <h2 class="sub-heading">{% trans "Device42’s Comprehensive Solution" %}</h2>
      <p class="alt-font">{% trans 'No combination of products from Softinventivelab can currently match the comprehensive functionality Device42’s CMDB with ADM, DCIM, ITAM, and IPAM. Their product is mainly geared at basic IT asset management, and only includes a ‘rudimentary’ CMDB that lacks both a true database, as well as the ability to discover and record interdependencies, among other features Device42 considers basic.' %}</p>
      <br>
      <p class="alt-font" style="margin: 0px;">{% trans 'In contrast, Device42 is fully integrated with no standalone modules (though some components are licensed separately). Device42 is truly a one-stop single source of truth because it includes a fully integrated suite of enterprise DCIM features:' %}</p>
    </div>
  </section>

  <section class="row landing-section" style="padding-top: 0px;">
    <div class="col-md-3">
      <ul class="bullet-blue">
        <li>{% trans "A CMDB" %}</li>
        <li>{% trans "IPAM" %}</li>
        <li>{% trans "Password Management" %}</li>
        <li>{% trans "Certificate Management" %}</li>
        <li>{% trans "Multi-Tenancy" %}</li>
        <li>{% trans "Capacity Planning" %}</li>
      </ul>
    </div>
    <div class="col-md-4">
      <ul class="bullet-blue">
        <li>{% trans "Power Monitoring & Control" %}</li>
        <li>{% trans "Inventory Lifecycle Management" %}</li>
        <li>{% trans "Automatic Rack Diagrams" %}</li>
        <li>{% trans "Cable Management" %}</li>
        <li>{% trans "Drag-and-drop Room Layouts" %}</li>
        <li>{% trans "Full Audit Trails" %}</li>
      </ul>
    </div>
    <div class="col-md-5">
      <ul class="bullet-blue">
        <li>{% trans "Application Dependency Mapping (ADM)" %}</li>
        <li>{% trans "Purchase Tracking" %}</li>
        <li>{% trans "Asset Transfers and Lifecycle Tracking" %}</li>
        <li>{% trans "Advanced “What-if” scenarios" %}</li>
        <li>{% trans "QR / Barcode Generation" %}</li>
        <li>{% trans "Spreadsheet / CSV Import of CI’s and Attributes" %}</li>
      </ul>
    </div>
</section>
<section class="landing-section">
  <p style="font-style: italic;">{% trans "Device42’s Advanced Visualizations, powerful, customizable reporting facilities, and advanced, well documented RESTful APIs work together to provide a second-to-none data management experience. Device42 will help to make your data either easier to see and understand, faster to manipulate, and/or more convenient to quantify - at a price that will surprise you." %}</p>
</section>
{% include 'partials/try-free-callout.html' %}
{% endblock %}

