{% extends "base/_base.html" %}
{% load i18n static %}
{% block title %}{% trans "What's New at Device42?" %}{% endblock %}
{% block og_meta %}
    <meta property="og:title" content="What's New">
    <meta property="og:description" content="What's New">
{% endblock %}
{% block meta %}
    <meta name="description" content="What's Newew at Device42">
    <meta name="keywords" content="register, webinar">
{% endblock %}

{% block styles %}
<style>
    body{
    }
    .left-content {
      text-align: center;
      padding: 20px;
    }
    .time-available {
      margin-bottom: 40px;
    }
    .time-available img {
      width: 100px;
      display: inline-block;
    }
    .time-available .time{
      display: inline-block;
      padding-top: 10px;
      vertical-align: middle;
    }
    .time-available .time p{
      font-size: 24px;
      font-weight: 700;
      color: #246e90;
      margin: 0;
    }
    .description {
      text-align: left;
    }
    .description p{
      font-size: 20px;
      color: #000;
    }
    .description span {
      font-weight: 700;
    }
    .regist_form {
      font-family: Helvetica, Trebuchet MS, sans-serif !important;
      background-color: #22a3df !important;
      color: #ffffff !important;
      width: 100%;
      padding: 20px;
      text-align: center;
      margin-top: 40px;
    }
    .regist_form h2 {
      color: #ffffff !important;
      font-weight: normal !important;
      font-family: Helvetica, Trebuchet MS, sans-serif !important;
      font-size: 30px;
      text-align: center;
      margin: 0;
    }
    .regist_form input[type=text], .regist_form input[type=email] {
        width: 100% !important;
        padding: 10px !important;
        font-size: 17px !important;
        font-style: italic !important;
        color: #246e90;
        margin-top: 20px;
    }
    .regist_form input[type=submit] {
        background: #ffd377 !important;
      ﻿ color: #383838;
        width: 50% !important;
        border-radius: 2px !important;
        font-size: 20px !important;
        font-weight: bold !important;
        padding-bottom: 7px !important;
        padding-top: 7px !important;
        border: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
        margin-top: 40px;
    }
    .regist_form p label {
      display: none;
    }
    .regist_form p {
      padding: 0px !important;
    }
  ﻿
    @media screen and (min-width: 768px){
      .left-content {
        padding-left: 70px;
      }
      .right-content{
        padding-right: 70px;
      }
    }
    @media screen and (max-width: 768px){
      .main-content {
        margin: 0;
      }
      .left-content h1{
        font-size: 24px;
      }
      .time-available .time p{
        font-size: 18px;
      }
      .hbspt-form{
        padding-top: 10px;
        padding-bottom: 10px;
      }
      .main-content > .row {
        margin-top: 40px;
      }
    }

</style>
{% endblock %}

{% block body %}
<article class="container vert-offset-top-1">
      <div class="row">
        <div class="col-md-7 left-content">
          <h1>{% trans "What's New at Device42?" %}</h1>
          <div class="time-available">
            <img src="{% static 'img/landing/calendar.png' %}" />
            <div class="time">
              <p>{% trans "Tuesday, October 24th" %}</p>
              <p>{% trans "11:00 - 11:30 am EST" %}</p>
            </div>
          </div>
          <div class="description">
            <p><img src="{% static 'img/landing/check.png' %}" />  <span>{% trans "Remote Collector:" %}</span> {% trans "secure, distributed discovery" %}</p>
            <p><img src="{% static 'img/landing/check.png' %}" />  <span>{% trans "Storage Mapping:" %}</span> {% trans "discover storage dependencies" %}</p>
            <p><img src="{% static 'img/landing/check.png' %}" />  <span>{% trans "Webhooks:" %}</span> {% trans "automate your workflow" %}</p>
            <p><img src="{% static 'img/landing/check.png' %}" />  <span>{% trans "DOQL:" %}</span> {% trans "lightning fast SQL based API queries" %}</p>
            <p><img src="{% static 'img/landing/check.png' %}" />  <span>{% trans "External Logging:" %}</span> {% trans "integration with Splunk and Elastic search" %}</p>
            <p><img src="{% static 'img/landing/check.png' %}" />  <span>{% trans "Integrations Released:" %}</span> {% trans "JAMF, SaltStack and more" %}</p>
          </div>
        </div>
        <div class="col-md-5 right-content">
          <!--﻿﻿&lt;!&ndash;[if lte IE 8]>-->
            <!--<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>-->
            <!--<![endif]&ndash;&gt;-->
            <!--<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>-->
            <!--<script>-->
              <!--hbspt.forms.create({-->
                <!--portalId: '433338',-->
                <!--formId: 'c53d3e88-a234-4705-9abc-e9648b8167f1',-->
                <!--css: ''-->
              <!--});-->
            <!--</script>-->
          <form class="regist_form" role="form" action="" method="post">
            <h2>{% trans "Please complete the registration form below:" %}</h2>
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="SUBMIT"/>
          </form>
        </div>
      </div>
</article>
{% endblock %}

{% block body_scripts %}
<script type="text/javascript">
    videoSrc = 'https://www.youtube.com/embed/X9zirQ-HZEw?rel=0';

    $("#videoModal").on('show.bs.modal', function() {
        $("#videoModal iframe").attr('src', videoSrc + '&amp;autoplay=1');
    });

    $("#videoModal").on('hidden.bs.modal', function() {
        $("#videoModal iframe").removeAttr('src');
    });
</script>
{% endblock %}
