{% extends "base/_base-landing-v1.html" %}
{% load i18n static %}
{% block meta %}
    <meta name="description"
          content="{% blocktrans %}It is a good idea to compare alternative CMDB tools like Riada's Insight for Jira, and possibly other tools. There are a wide variety available, but Device42 is among the best.{% endblocktrans %}"/>
    <meta name="keywords"
          content="device42, vs, compare, comparison, riada, insight, jira, device, management, core, asset, ipam, itam, cmdb, functions, features, cloud, discovery, autodiscovery, app, mapping, appmapping, application, map, diagram, discover, depedency, dcim, ticketing, plugin, addon, enterprise, free, trial, tool, tools" />
{% endblock %}
{% block title %}{% trans "ServieNow" %}{% endblock %}
{% block scripts %}
    <script>
        $(function () {
            $("[data-toggle='tooltip']").tooltip();
        });
    </script>
{% endblock %}

{% block styles %}
  <style>
    .table-responsive {
      max-width: 900px;
      text-align: left;
    }
    hr{
      margin: 0px;
    }
    table {
      margin-bottom: 0px !important;
    }
    p.small-font {
      font-size: 15px;
      color: #22a3df;
      text-align: center;
    }
    h1 {
      font-family: 'Roboto Condensed', sans-serif !important;
    }
    form label {
      display: none;
    }
    form p {
      display: inline-block;
    }
    form p input {
      padding: 5px;
      color: #246d8f;
    }
    .d-table {
      display: table;
      width: 100%;
    }
    .d-table-cell {
      text-align: center;
      display: table-cell;
    }
    .d-table-submit {
      padding: 10px;
      margin-top: 50px !important;
      width: 250px;
    }
    .sub-heading {
        color: #35ade4;
        font-family: 'Roboto Condensed', sans-serif !important;
        font-size: 35px;
        margin-top: 0px;
    }
    .left-corner-sidebar {
        float: left;
        margin-right: 20px;
        margin-top: 10px;
        margin-left: 10px;
    }
  </style>
{% endblock %}

{% block landingHeadingText %}{% trans "Make ServiceNow better by syncing CI data from Device42" %}{% endblock %}
{% block landingfeature %}
<section class="row padded">
  <div class="col-md-12">
    <p class="lead">{% trans 'Using the <a href="https://github.com/device42/servicenow_device42_mapping">Device42-ServiceNow integration</a>, users can synchronize data in both directions - from Device42 to ServiceNow, and from ServiceNow to Device42. The integration script can synchronize Device42’s CMDB with enhanced asset management and tracking capabilities to ServiceNow’s Configuration Management Database (CMDB), or from a populated ServiceNow instance into Device42.' %}</p>
    <div class="col-sm-12">
      <form action="." method="post" role="form" class="text-center left-corner-sidebar">
        {% csrf_token %}
        <input type="hidden" name="flag" value="download" />
        <button class="btn btn-sm btn-primary" type="submit">Download ServiceNow<br>Integration</button>
      </form>
      <p class="lead">{% trans '<a href="https://www.device42.com">Device42</a>’s comprehensive agentless autodiscovery, optional agents, and remote collectors can all be used together to automatically maintain an up-to-date inventory of your physical, virtual, and cloud servers, containers, network components, software, services, and applications, as well as their critical inter-relationships and interdependencies. This data can then, at any time [syncs are schedulable via Crontab or similar] be synced with ServiceNow. The synchronization can also be quickly refreshed on demand by simply executing the script.' %}</p>
    </div>
  </div>
</section>
{% endblock %}

{% block maincontent %}
    <section class="row landing-section">
      <div class="col-md-9">
        <h3 class="sub-heading">{% trans "Sync your CIs between Device42 and ServiceNow" %}</h3>
        <p>{% trans "Once you sync your Device42 CMDB with ServiceNow, any CIs that were configured to sync will be available in both systems. If you are transitioning from ServiceNow to Device42, this integration makes the move a breeze!" %}</p>
        <p>{% trans "If both systems are to remain in concurrent use, the CI data can be refreshed manually at any time, or kept up-to-date by scheduling automatic syncs in either direction!" %}</p>
        <p>{% trans '<a href="https://www.device42.com/blog/2017/01/make-servicenow-better-sync-your-device42-ci-data/">See our ServiceNow Integration Blog Post</a> for further details on Integration sync-script configuration and usage!' %}</p>
      </div>
      <div class="col-md-3">
        <a href="{% static 'img/sections/support/integrations/servicenow/Device42-CIs-in-servicenow-1.png' %}"
           data-featherlight="image">
            <img src="{% static 'img/sections/support/integrations/servicenow/Device42-CIs-in-servicenow-1.png' %}" class="img-responsive center-block" alt="{% trans 'ServiceNow Integration' %}">
        </a>
      </div>
    </section>

    <section class="row landing-section">
      <div class="col-md-3">
        <a href="{% static 'img/sections/support/integrations/servicenow/edit-Device42-CIs-in-servicenow-1.png' %}"
           data-featherlight="image">
            <img src="{% static 'img/sections/support/integrations/servicenow/edit-Device42-CIs-in-servicenow-1.png' %}" class="img-responsive center-block" alt="{% trans 'ServiceNow Integration' %}">
        </a>
      </div>
      <div class="col-md-9">
        <h3 class="sub-heading">{% trans "View CI details in ServiceNow" %}</h3>
        <p>{% trans "Once synced, users of ServiceNow can see details imported from Device42 (name, serial #, model, service level, tags, mac addresses, cpu details, RAM, HD, OS info, and more) for that CI, and can then tie those assets to related service requests. View any problems that may be associated with a CI with a click, just like you’re used to." %}</p>
      </div>
    </section>

    <section class="row landing-section">
      <div class="col-md-12">
        <h3 class="sub-heading">{% trans "Sync Software, Service, and Vendor information from Device42" %}</h3>
        <p>{% trans "Let Device42 populate Software, Services, and Vendor information into your ServiceNow instance. Use this imported information to create custom service request workflows and tailor them to each department's needs!" %}</p>
        <p>{% trans 'Services and Software information can be synced from Device42 to ServiceNow <small><code>[Custom fields must be created for this and related information. For each ServiceNow table in your mapping.xml, add `u_device42_id` custom fields in your servicenow instance - see <a href="https://github.com/device42/servicenow_device42_mapping/blob/master/README.md">readme.md</a>]</code></small>. Synced software information can include all relevant licensing information, as well as supplementary information such as tags, category, vendor, a description, and any aliases that might be in use. Synced Service information includes service name, description, category, tags, and the associated vendor as well.' %}</p>
        <p>{% trans "Let Device42 populate Software, Service, and Vendor information into your ServiceNow Express instance. Use this imported information to create custom service request workflows and tailor them to each department's needs!" %}</p>
      </div>
    </section>

    <section class="row landing-section">
      <div class="col-md-12">
        <h3 class="sub-heading">{% trans "Associate imported CIs with ServiceNow requests!" %}</h3>
        <p>{% trans "When a creating a new request in ServiceNow, users can choose to associate configuration items synced from Device42. They can then be managed natively within ServiceNow, utilizing the task management workflow you’re already used to. Assign teams and create task checklists related to CI’s imported from Device42." %}</p>
      </div>
    </section>

    <section class="row landing-section">
      <div class="col-md-offset-2 col-md-8">
        <a href="{% static 'img/sections/support/integrations/servicenow/servicenow-change-request-with-Device42-CIs.png' %}"
           data-featherlight="image">
            <img src="{% static 'img/sections/support/integrations/servicenow/servicenow-change-request-with-Device42-CIs.png' %}" class="img-responsive center-block" alt="{% trans 'ServiceNow Integration' %}">
        </a>
      </div>
    </section>
{% endblock %}
