{% extends "base/_base-landing-v3.html" %}
{% load i18n static %}
{% block meta %}
    <meta name="description"
          content="{% trans 'Comprehensive network-scanning utility for automated IT infrastructure management.' %}"/>
{% endblock %}
{% block title %}{% trans "A Comprehensive Network Scanner ... and so much more!" %}{% endblock %}
{% block styles %}
<style>
    .cta-free-trial {
        padding: 24px 0;
        text-transform: none !important;
        background-color: #ffc90e;
        color: #130dff !important;
    }
    #top-container h1 {
        margin-bottom: 0px;
    }
</style>
{% endblock %}

{% block landingHeadingText %}
    {% trans "A Comprehensive Network Scanner ... and so much more!" %}
{% endblock %}
{% block landingSubHeadText %}
    <em class="h3 flat-top flat-bottom">{% trans "Scan and map your physical, virtual and cloud networks automatically, with or without agents." %}</em>
{% endblock %}

{% block key_benefits %}
    <section class="row landing-section">
        <div class="col-sm-7">

            <h3 class="text-strong">{% trans "Key Benefits:" %}</h3>
            <div class="row">
                <ul>
                    <li>{% trans "Goodbye spreadsheets...hello automated IT management!" %}</li>
                    <li>{% trans "Easy to deploy and manage, inherently secure, and very cost-effective" %}</li>
                    <li>{% trans "Understanding your network’s topology has never been simpler or easier!" %}</li>
                    <li>{% trans "Increased visibility and simplified control of IT assets with complete lifecycle management" %}</li>
                    <li>{% trans "Enjoy a 360-degree view of your entire IT ecosystem" %}</li>
                    <li>{% trans "Verify interdependencies to help prevent downtime and associated costs" %}</li>
                    <li>{% trans "Improve utilization of assets, minimizing hardware and software costs" %}</li>
                    <li>{% trans "Ensure compliance with audit and regulatory requirements" %}</li>
                    <li>{% trans "Pinpoint out of date operating systems and software to help keep your network secure" %}</li>
                    <li>{% trans "Increase your team’s productivity" %}
                        <ul class="bullet-gray flat-top">
                            <li>{% trans "Focus on high value activities, and not manual processes" %}</li>
                            <li>{% trans "Shift from reactive to proactive management" %}</li>
                            <li>{% trans "Simplify management and justification of budget" %}</li>
                            <li>{% trans "Eliminate duplicate tools and manual processes" %}</li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="row" style="width: 100%;">

                <div class="text-center" style="width: 30%; float: left; margin-left: 5%;">
                    <div style="max-width:50%; margin-left:auto; margin-right:auto; margin-top:24px; height:auto !important;"   
                         class="clearfix">
                        <div class="embed-responsive embed-responsive-16by9" style="margin-bottom: 5px;">
                            <div class="wistia_responsive_wrapper"
                                 style="height:100%; left:0; position:absolute; top:0; width:100%;">
                                <script src="//fast.wistia.com/embed/medias/igc5qfvoyr.jsonp" async></script>
                                <script src="//fast.wistia.com/assets/external/E-v1.js" async></script>
                                <div class="wistia_responsive_padding"
                                     style="padding:60% 0 0 0; position:relative;">
                                    <div class="wistia_responsive_wrapper"
                                         style="height:100%; left:0; position:absolute; top:0; width:100%;">
                                        <span class="wistia_embed wistia_async_igc5qfvoyr popover=true popoverAnimateThumbnail=true videoFoam=true" style="display:inline-block; height:100%; width:100%">&nbsp;</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="text-primary font-stack-roboto text-center h4" style="margin-top: 0px !important; margin-bottom: 0px !important;">{% trans "90 Second Overview" %}</span>
                </div>

                <div class="vert-offset-top-1" style="width: 65%; float: left;">
                    <p>{% blocktrans %}<strong>You're in good company!</strong><br> <em>Many global companies use Device42,<br> and they LOVE us!</em>{% endblocktrans %}</p>
                </div>

            </div>
        </div>
        <div class="col-sm-5">
            <a href="{% url 'download' %}">
                <img src="{% static 'img/sections/features/app-map/set-it-all-in-one-place.jpg' %}"
                     alt="{% trans 'Network Scanner' %}" 
                     class="img-responsive center-block vert-offset-bottom-2 vert-offset-top-1">
            </a>
            <a class="btn center-block cta-free-trial h3"
                href="{% url 'download' %}">{% trans "Get your FREE, fully-functional trial NOW!" %}</a>
        </div>
    </section>
{% endblock %}

{% block good_company %}
{% endblock %}

{% block key_features %}
    <section class="row image-right-5x7 is-table-row vert-offset-top-1 landing-section">
        <div class="col-sm-7">
            <h3 class="text-strong">{% trans "Key Features:" %}</h3>
            <ul class="bullet-blue">
                <li>{% blocktrans %}<strong class="text-primary">SNMP v1/v2c/v3 Discovery</strong> scans switches, routers, firewalls, load balancers, etc.{% endblocktrans %}
                    <ul class="bullet-gray flat-top">
                        <li>{% trans "IP to MAC & MAC to Switchport relationships, VLAN, Subnet, CDP/LLDP" %}</li>
                        <li>{% trans "Load balancers: F5 BIG-IP, Cisco NetScaler" %}
                            <ul class="dark-blue flat-top">
                                <li>{% trans "Hardware model, serial number, hostname, OS details, etc." %}</li>
                                <li>{% trans "Virtual servers, pools, and member nodes" %}</li>
                                <li>{% trans "Map member nodes to discovered devices and automatically creates detailed dependency maps" %}</li>
                            </ul>
                        </li>
                        <li>{% trans "Blade systems: chassis/blade system information" %}</li>
                        <li>{% trans "Discover and monitor power devices like PDUs, UPS, CRAC, etc." %}</li>
                        <li>{% trans "Console switches, fiber switches, SAN switches, etc." %}</li>
                    </ul>
                </li>
                <li>{% blocktrans %}<strong class="text-primary">Netflow and NMAP</strong> data collection <em>(for scanning without credentials)</em>{% endblocktrans %}</li>
                <li>{% blocktrans %}<strong class="text-primary">WMI based discovery for Windows</strong> based machines <em>(and servers)</em>{% endblocktrans %}</li>
                <li>{% blocktrans %}<strong class="text-primary">SSH based discovery for *nix</strong>, Mac, BSD, UNIX{% endblocktrans %}</li>
                <li>{% blocktrans %}<strong class="text-primary">Hypervisor and VM discovery</strong> with support for all major virtualization platforms{% endblocktrans %}
                    <ul class="bullet-gray flat-top">
                        <li>{% trans "Native host & VM detail discovery on popular platforms like VMware vCenter and/or ESXi, Citrix Xen, oVirt / Redhat, KVM / Xen / libvirt, OpenVZ, LXC, Docker, Cloudstack, Openstack, etc." %}</li>
                        <li>{% trans "Discover VMs as they are created, destroyed, and migrate between hosts" %}</li>
                    </ul>
                </li>
                <li>{% blocktrans %}<strong class="text-primary">Cloud discovery</strong> support for Amazon, Azure, Joyent, Linode, Digital Ocean etc.{% endblocktrans %}</li>
                <li>{% blocktrans %}<strong class="text-primary">Highly-customizable reports</strong>, inquiry screens and visualizations:{% endblocktrans %}
                    <ul class="bullet-gray flat-top">
                        <li>{% trans "Computer rooms and racks with power and capacity heatmaps" %}</li>
                        <li>{% trans "Full IP connectivity and power chain" %}</li>
                    </ul>
                </li>
                <li><strong class="text-primary">{% trans "Hardware, software, and application dependency mapping:" %}</strong>
                    <ul class="bullet-gray flat-top">
                        <li>{% blocktrans %}Installed software and services <em>(running or stopped)</em>{% endblocktrans %}</li>
                        <li>{% trans "Service-to-service, IP, port, and application dependency maps" %}</li>
                        <li>{% trans "Service listening ports, and remote connections" %}</li>
                    </ul>
                </li>
                <li>{% blocktrans %}<strong class="text-primary">IPMI discovery</strong> for BMC boards, with support for SNMP over IPMI{% endblocktrans %}</li>
                <li>{% blocktrans %}<strong class="text-primary">DNS sync</strong> and ping sweep for fast IP and network discovery{% endblocktrans %}</li>
                <li>{% blocktrans %}<strong class="text-primary">Integrate with & Import inventory</strong> from tools like Puppet, Chef, Microsoft SCCM, monitoring systems{% endblocktrans %}</li>
                <li>{% blocktrans %}<strong class="text-primary">Webhooks & RESTful APIs</strong> for custom integrations and driving automation{% endblocktrans %}</li>
                <li>{% blocktrans %}<strong class="text-primary">All discoveries can be scheduled</strong>, automatically detecting infrastructure changes as they happen{% endblocktrans %}</li>
            </ul>
        </div>
        <div class="col-sm-5" style="vertical-align: top; padding-top: 40px;">
            <a href="{% url 'download' %}">
                <img src="{% static 'img/sections/solutions/load-balancer-autodiscovery.png' %}"
                     alt="{% trans 'Network Scanner' %}" 
                     class="img-responsive center-block">
            </a>
            <a href="{% url 'download' %}">
                <img class="img-responsive center-block box-shadow vert-offset-top-3"
                     src="{% static 'img/sections/solutions/network-discovery-02.png' %}"
                     alt="{% trans 'Network Scanner' %}">
            </a>
        </div>
    </section>
{% endblock %}
