{% load i18n %}
<div class="try-free-callout flat-top flat-bottom is-table-row xs-center">
    <div class="col-sm-8">
        <h3>{% trans "Download Your XLS Template  NOW" %}!</h3>
        <p class="text-default font-stack-roboto">{% trans "Includes everything you need to document your data center!" %}</p>
    </div>
    <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0 text-center">
        <a class="btn btn-warning btn-xs text-strong center-block"
           href="https://docs.google.com/spreadsheets/d/1MAM8sYKyXpuDhN26tPZKE9wDVyjfeiB3VduvnvxkFuc/edit#gid=1097502685">{% trans "DOWNLOAD FREE" %}<br>{% trans "TEMPLATE NOW!" %}</a>
    </div>
</div>
