{% extends 'base/_base-use-cases.html' %}
{% load i18n static %}
{% block title %}{% trans "Use Case: Hardware Audit" %}{% endblock %}

{% block meta %}
<meta name="description"
      content="{% trans 'You are generally required to audit your data center for a variety of reasons - finance audits, security audits, budgeting cycles, need to update that Visio nobody has touched in last 6 months etc.' %}"/>
{% endblock %}
{% block site_section_features %}active{% endblock %}
{% block pageTitle %}{% trans "Hardware Audit" %}{% endblock %}
{% block challengeBody %}
  <p class="lead text-strong">{% trans 'You are generally required to audit your data center for a variety of reasons - finance audits, security audits, risk-related audits, budget cycle audits.' %}</p>

    <p>{% trans "Auditing a data center - big or small, can be daunting task. The problem is compounded if:" %}</p>
    <ul style="font-weight: 300;">
      <li>{% trans 'You don’t have an accurate inventory of all your equipment' %}</li>
      <li>{% trans 'The data you do have exists only in somebody’s head, and you have personnel changes' %}</li>
      <li>{% trans 'Servers and other equipment are frequently added and moved within the datacenter and across data centers' %}
      </li>
    </ul>
    <p>{% trans 'Many companies do an “inventory” in order to prepare for an audit and store the results in Excel and Visio files.  This approach is problematic for several reasons:' %}</p>
    <ul class="checkmark-style">
      <li>{% trans 'It can take weeks or months to get everything documented in excel and Visio.' %} </li>
      <li>{% trans 'By the time the inventory is complete, things have changed, and it’s out of date.  At best, it will be out of date for the next audit.' %}</li>
      <li>{% trans 'Even if you create processes to keep Excel/Visio up-to-date, you end up with multiple versions and data issues as there is no centralized editing and no standard template.' %}</li>
    </ul>
{% endblock %}
{% block challengeRight %}
  <img src="{% static 'img/components/study-a/use-cases/Hardware Audit.png' %}"
             class="img-inline-right" alt="{% trans 'Hardware Audit' %}">
{% endblock %}
{% block body %}
    <div class="row">
      <div class="col-md-4">
        <h2>{% trans 'Solution' %}</h2>
        <p>
          {% trans "Device42 helps you document your IT infrastructure quickly, and auto-discovery helps to keep that information up-to-date. A standard, single console for every user can help reduce duplicate and error prone data issues. In addition rack audit sheets can make it easier to do regular inventories and to make updates based on diffs, making the overall process a breeze." %}
        </p>
      </div>
      <div class="col-md-8">
        <a href="{% static 'img/components/study-a/use-cases/hw-audit-table.png' %}"
           class="center-block" data-featherlight="image">
          <img src="{% static 'img/components/study-a/use-cases/hw-audit-table.png' %}"
               alt="{% trans 'Hardware Audit Solution' %}" class="img-responsive box-shadow img-restrict center-block">
        </a>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-4 highlight-area">
        <h2>{% trans 'Highlights' %}</h2>
        <ul class="checklist bullet-yellow">
          <li>{% trans "<em>No</em> more manual rectification" %}</li>
          <li>{% trans "<em>No</em> connectivity/WiFi needed" %}!</li>
          <li>{% trans "<em>No</em> more playing catch-up" %}</li>
          <li>{% trans "~7x reduction in audit time" %}</li>
          <li>{% trans "Auditing no longer a huge task" %}</li>
          <li>{% trans "No need to invest a massive amount of time and manpower to get a one-time-use point in time snapshot" %}</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h4 class="text-primary text-strong">{% trans 'Device42 auto-discovers' %}</h4>
          <p>{% trans 'Stop playing catch-up with your infrastructure: less manual entry and less errors means better data in less time!' %}</p>
      </div>
      <div class="col-md-4">
        <h4 class="text-primary text-strong">{% trans 'Device42 means consistency' %}</h4>
          <p>{% trans 'Unlimited custom fields, document any desired attribute, and a central interface for all users' %}</p>
      </div>
      <div class="col-md-4">
        <h4 class="text-primary text-strong">{% trans 'Device42 utilizes existing data' %}</h4>
        <p>{% trans 'Import data from spreadsheets and CSVs, and/or CMDB software like SCCM and BMC Remedy' %}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h4 class="text-primary text-strong">{% trans 'Device42 supports ITAM' %}
          <small><strong>[{% trans "IT Asset Management" %}]</strong></small>
        </h4>
        <p>{% trans 'Generate barcodes & QR codes, scan barcodes with your mobile device, and integrate with your existing ITAM software!' %}</p>
      </div>
      <div class="col-md-4">
        <h4 class="text-primary text-strong">{% trans "Device42 Rack-Audit sheets save time" %}</h4>
        <p>{% trans 'Simplified offline auditing process: 3-step export/scan/rectify process for a ~7x reduction in audit time' %}</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <h5><a href="{% url 'use_cases' %}" class="dir-arrow text-capitalize"><i
          class="fa fa-chevron-left"></i> {% trans "Back to Use Cases" %}</a></h5>
      </div>
    </div>
{% endblock %}

