{% extends 'base/_base.html' %}
{% load i18n static %}
{% block title %}{% trans "Case Studies" %}{% endblock %}
{% block meta %}
    <meta name="description"
          content="{% trans 'Case studies for Device42 - Comprehensive Data Center Documentation Software' %}"/>
{% endblock %}
{% block styles %}
  <style>
    .secondary-menu {
      text-align: center;
    }

    @media(max-width: 992px){
      .secondary-menu {
        display: none;
      }
    }

    .secondary-menu.fixed {
      position: fixed;
      background: white;
      z-index: 999;
      top: 53px;
      width: 100%;
    }

    .secondary-content  {
      display: inline-block;
    }

    .secondary-menu-list {
      display: inline-block;
      list-style: none;
      margin: 0;
      padding: 0px;
    }

    .secondary-menu-list-item {
      display: inline-block;
      text-align: center;
      zoom: 1;
      vertical-align: middle;
      height: 100%;
      width: auto;
      min-width: 100px;
      cursor: pointer;
      position: relative;
      margin-left: 30px;
      margin-right: 30px;
    }

    .secondary-menu-list-item:before {
      display: none;
    }

    .secondary-menu-link {
      padding: 1.5rem 0;
      color: #706F6F;
      display: block;
    }

    .secondary-menu-link:focus, .secondary-menu-link:hover {
      color: #706F6F;
      text-decoration: none;
    }

    <!--.secondary-menu-list-item:hover, .secondary-menu-list-item.active {-->
      <!--color: #706F6F;-->
      <!--border-bottom: 3px solid #ab00dc;-->
    <!--}-->

    .secondary-menu-list-item:after {
      content: "";
      background-color: #22a3df;
      padding: 1.5px;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      line-height: 3px;
      font-size: 2em;
      position: absolute;
      bottom: 0;
      left: 50%;
      right: 50%;
      visibility: hidden;
      transition: all 0.2s linear;
    }

    .secondary-menu-list-item:hover:after {
          visibility: visible;
        left: 6px;
        right: 6px;
    }

    .secondary-menu-list-item.active:after {
      visibility: visible;
      content: "";
      background-color: #eb8f34;
      font-size: 30px;
      padding: 1.5px;
      line-height: 3px;
      position: absolute;
      bottom: 0;
      left: 6px;
      right: 6px;
    }

    .d-flex {
      display: flex;
    }

    blockquote {
      margin: 0px;
      border: 0px;
      background: #eb8e35;
      color: white;
      padding-top: 50px;
      box-shadow: none;
      vertical-align: middle;
      display: table-cell;
    }

    blockquote:before {
      color: white;
      float: right;
      margin: .3rem;
      margin-top: 0;
      margin-left: 1.5rem;
      font-size: 70px;
    }

    .customers .carousel-inner{
        height: 500px;
    }

    .customers .carousel-inner .item {
      padding-left: 100px;
      padding-right: 100px;
      background: #eb8e35;
      height: 500px;
    }

    @media(max-width: 767px) {
      .customers .carousel-inner .item {
        padding: 0px;
      }
    }

    .customers .carousel-inner .item-container {
      height: 100%;
      width: 100%;
      display: table;
    }

    .customers .carousel-control.right, .customers .carousel-control.left {
      background-image: none;
    }

    .glyphicon-chevron-right:before {
        content: "\e080";
    }
    .glyphicon-chevron-left:before {
        content: "\e079";
    }

    .carousel-control .fa-chevron-left, .carousel-control .fa-chevron-right {
        position: absolute;
        top: 50%;
        margin-top: -10px;
        z-index: 5;
        display: inline-block;
        color: white;
    }

    .carousel-indicators li {
      border: 1px solid #ffffff;
    }

    .carousel-indicators li.active {
        border: 2px solid #ffffff;
        background-color: #ffffff;
    }

    blockquote cite span {
        font-weight: 500;
        font-size: 12px;
    }

    #customers {
      padding: 50px;
    }

    #customers h2 {
      color: #2270b2;
      margin-bottom: 40px;
    }

    #case-studies > .container > h2 {
      color: #2270b2;
    }

    .photo-card>.heading .title {
       border-bottom: 1px solid #445362;
    }

    .photo-card>.heading {
      padding: 24px;
    }

    .photo-card>.image img {
      max-height: 220px;
    }

    .photo-card .font-stack-serif {
      font-size: 15px;
    }
  </style>
{% endblock %}
{% block body_scripts %}
<script type="text/javascript">
    $(function() {
        D42.tools.loadJs('//fast.wistia.com/assets/external/E-v1.js', true);
    });
    function goto_testimonials(){
      $(document).ready(function() {
        $('html, body').animate({
          scrollTop: $('#testimonialCarousel').offset().top - 110
        }, 500);
      })
    }
    function goto_customers(){
      $(document).ready(function() {
        $('html, body').animate({
          scrollTop: $('#customers').offset().top - 110
        }, 500);
      })
    }
    function goto_casestudies(){
      $(document).ready(function() {
        $('html, body').animate({
          scrollTop: $('#case-studies').offset().top - 110
        }, 500);
      })
    }

    $(window).scroll(function () {
        var cur_pos = $(window).scrollTop();

        if(cur_pos > ($("#testimonialCarousel").offset().top)){
          $(".secondary-menu").addClass("fixed");
        }else{
          $(".secondary-menu").removeClass("fixed");
        }

        if(cur_pos > ($("#testimonialCarousel").offset().top)){
          $(".secondary-menu-list-item").siblings().removeClass("active");
          $("#testimonials_link").addClass("active");
        }else{
          $(".secondary-menu-list-item").siblings().removeClass("active");
        }

        if(cur_pos > ($("#customers").offset().top - 115)){
          $(".secondary-menu-list-item").siblings().removeClass("active");
          $("#customers_link").addClass("active");
        }else{
          $(".secondary-menu-list-item").siblings().removeClass("active");
        }

        if(cur_pos > ($("#case-studies").offset().top - 115)){
          $(".secondary-menu-list-item").siblings().removeClass("active");
          $("#case_studies_link").addClass("active");
        }
    });
</script>
{% endblock %}

{% block body %}
    <div class="secondary-menu">
      <div class="secondary-content">
        <ul class="secondary-menu-list">
          <li class="secondary-menu-list-item" id="testimonials_link">
            <a href="{% url 'customers_testimonials' %}" class="secondary-menu-link">
              {% trans "TESTIMONIALS" %}
            </a>
          </li>
          <li class="secondary-menu-list-item" id="customers_link">
            <a href="{% url 'customers' %}" class="secondary-menu-link">
              {% trans "CUSTOMERS" %}
            </a>
          </li>
          <li class="secondary-menu-list-item" id="case_studies_link">
            <a href="{% url 'customers_case_studies' %}" class="secondary-menu-link">
              {% trans "CASE STUDIES" %}
            </a>
          </li>
        </ul>
      </div>
    </div>

    <section id="case-studies">
      <div class="container">
        <h2 class="text-muted alt-font"><strong>{% trans "Case Studies" %}</strong></h2>
        <div class="row padded">
          <div class="col-xs-12 col-sm-4 col-sm-offset-0 padded">
            <div class="card-container">
              <div class="photo-card center-block">
                <div class="image">
                  <a href="{% url 'case_studies_intl_financial_service_provider' %}">
                    <img class="img-responsive center-block" src="{% static 'img/sections/customers/international.png' %}" width="511" height="313" alt="International Financial Services Provider">
                  </a>
                </div>
                <div class="heading"><h2 class="title font-stack-condensed">{% trans "International Financial Services Provider" %}</h2></div>
                <div class="description"><p class="font-stack-serif">{% trans "This NY-based company is a provider of financial services with offerings and global operations servicing both US and non-US based financial markets." %}</p></div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4 col-sm-offset-0 padded">
            <div class="card-container">
              <div class="photo-card center-block">
                <div class="image">
                  <a href="{% url 'case_studies_coventry_university' %}">
                    <img class="img-responsive center-block" src="{% static 'img/sections/customers/conventry.png' %}" width="511" height="313" alt="Coventry University">
                  </a>
                </div>
                <div class="heading"><h2 class="title font-stack-condensed">{% trans "Coventry University<br /> &nbsp;" %}</h2></div>
                <div class="description"><p class="font-stack-serif">{% trans "Coventry University (www.coventry.ac.uk) is one of the UK’s leading business-facing universities with a reputation for excellence in applied research and teaching." %}</p></div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4 col-sm-offset-0 padded">
            <div class="card-container">
              <div class="photo-card center-block">
                <div class="image">
                  <a href="{% url 'case_studies_maxihost' %}">
                    <img class="img-responsive center-block" src="{% static 'img/sections/customers/maxihost.png' %}" width="511" height="313" alt="Maxihost Datacenter Ltd.">
                  </a>
                </div>
                <div class="heading"><h2 class="title font-stack-condensed">{% trans "Maxihost Datacenter Ltd.<br /> &nbsp;" %}</h2></div>
                <div class="description"><p class="font-stack-serif">{% trans "Founded in 2001, Maxihost is one of the fastest growing cloud and dedicated server solutions provider in Brazil.<br /> &nbsp;" %}</p></div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4 col-sm-offset-0 padded">
            <div class="card-container">
              <div class="photo-card center-block">
                <div class="image">
                  <a href="{% url 'case_studies_appdirect' %}">
                    <img class="img-responsive center-block" src="{% static 'img/sections/customers/appdirect.png' %}" width="511" height="313" alt="AppDirect">
                  </a>
                </div>
                <div class="heading"><h2 class="title font-stack-condensed">{% trans "AppDirect" %}</h2></div>
                <div class="description"><p class="font-stack-serif">{% trans "AppDirect, headquartered in San Francisco, California, is a cloud service commerce company that is powering the future of software delivery.<br />&nbsp;" %}</p></div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4 col-sm-offset-0 padded">
            <div class="card-container">
              <div class="photo-card center-block">
                <div class="image">
                  <a href="{% url 'case_studies_gravity' %}">
                    <img class="img-responsive center-block" src="{% static 'img/sections/customers/gravity.png' %}" width="511" height="313" alt="Gravity R&D">
                  </a>
                </div>
                <div class="heading"><h2 class="title font-stack-condensed">{% trans "Gravity R&D" %}</h2></div>
                <div class="description"><p class="font-stack-serif">{% trans "Gravity R&D, which specializes in serving real time customer SAS recommendations, brought Device42 on board to unify their information silos into a single source.<br />&nbsp;" %}</p></div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4 col-sm-offset-0 padded">
            <div class="card-container">
              <div class="photo-card center-block">
                <div class="image">
                  <a href="{% url 'case_studies_netcetera' %}">
                    <img class="img-responsive center-block" src="{% static 'img/sections/customers/international.png' %}" width="511" height="313" alt="Netcetera Group Ag.">
                  </a>
                </div>
                <div class="heading"><h2 class="title font-stack-condensed">{% trans "Netcetera Group Ag." %}</h2></div>
                <div class="description"><p class="font-stack-serif">{% trans "Netcetera specializes in supporting customers with tailored software in their core business. They have an experienced team of dedicated professionals that specialize in comprehending Customer’s existing..." %}</p></div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4 col-sm-offset-0 padded">
            <div class="card-container">
              <div class="photo-card center-block">
                <div class="image">
                  <a href="{% url 'case_studies_dell_emc' %}">
                    <img class="img-responsive center-block" src="{% static 'img/sections/customers/dell-emc.png' %}" width="511" height="313" alt="DELL / EMC">
                  </a>
                </div>
                <div class="heading"><h2 class="title font-stack-condensed">{% trans "DELL / EMC<br /> &nbsp;" %}</h2></div>
                <div class="description"><p class="font-stack-serif">{% trans "Dell EMC, the union of Dell's and EMC's portfolios of infrastructure and expertise for IT and business transformation, offers a broad range of professional services to help ..." %}</p></div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4 col-sm-offset-0 padded">
            <div class="card-container">
              <div class="photo-card center-block">
                <div class="image">
                  <a href="{% url 'largest_virt_company' %}">
                    <img class="img-responsive center-block" src="{% static 'img/sections/customers/virtcompany.jpg' %}" width="511" height="313" alt="World’s Largest Virtualization Company">
                  </a>
                </div>
                <div class="heading"><h2 class="title font-stack-condensed">{% trans "World’s Largest Virtualization Company" %}</h2></div>
                <div class="description"><p class="font-stack-serif">{% trans "Device42 helps the product team at a global leader in cloud infrastructure and business mobility to visualize and manage their SaaS environment, unifying information ..." %}</p></div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
{% endblock %}
