{% extends 'base/_base.html' %}
{% load i18n static cache %}
{% block title %}{% trans "Continuous Discovery & Management Software" %}{% endblock %}
{% block meta %}
    <meta name="description"
          content="{% trans 'Device42 is a comprehensive data center and network management software. Loved by organizations around the world for its open APIs and ease of use.' %}">
    <meta name="robots" content="noindex, nofollow">
{% endblock %}
</head>
{% block body %}
    <p align="center" style="margin-top: 150px;margin-bottom: -150px;"><i>Your cloud trial has expired. <a href="https://www.device42.com/contact/">Click here</a> to request another one or contact sales for any additional questions.</i></p>
{% endblock %}